<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>关于我们</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/style.min.css') }}?0106">
</head>
<body>
{% include 'LycheeWebsiteBundle:Home:navigation.html.twig' with {'active': 'about-us'} %}
<div class="about-us">
	<div class="content">
		<div class="about">关于我们</div>
		<ul>
			<li>
				广州银时信息技术有限公司目前旗下共有3个产品。分别为二次元社交app次元社，
				AVG文字游戏《异时空通讯》和二次元首档综艺节目《作死范娱乐》。
			</li>
			<li>
				次元社APP成立于2014年，作为二次元第一社交平台，致力于为IP增值，扩大其
				行业影响力、及精准拓展二次元用户等业务。2016年8月，注册用户数达到260万
				用户，日活跃数8万，每天新增数8000人。
			</li>
			<li>
				2016年7月，我司成立次元艺能部门，制作了国内首档二次元综艺节目《作死范娱乐》。
				一经播出获得了广大的好评。
			</li>
		</ul>
		<div class="event">大事件</div>
		<ul>
			<li>
				2014年7月，广州银时信息技术有限公司成立。
			</li>
			<li>
				2015年11月，次元社app注册用户超过100万。
			</li>
			<li>
				2015年12月，次元娘搜狗皮肤下载量超过15万。
			</li>
			<li>
				2016年4月，次元社app 2.0版本发布，次元社举行了一次制服主题的开放日。
			</li>
			<li>
				2016年6月，次元社第一次参展萤火虫动漫嘉年华。
			</li>
			<li>
				2016年6月，次元社参加广州地铁动漫嘉年华次元社动漫主题展。
			</li>
			<li>
				2016年7月，次元艺能部门成立，拍摄并制作了国内首档二次元综艺节目《作死范娱乐》。
			</li>
			<li>
				2016年8月，《异次元通讯》游戏即将上线。
			</li>
		</ul>
		<a id="contact-us"></a>
		<div class="contact">联系我们</div>
		<ul>
			<li>
				<div class="title">次元酱</div>
				<div>QQ:&nbsp;2963226781</div>
				<div>邮箱:&nbsp;wu@ciyocon.com</div>
			</li>
		</ul>
	</div>
</div>
{% include 'LycheeWebsiteBundle:Home:footer.html.twig' %}
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>