{% extends 'LycheeWebsiteBundle::base.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
{% endblock %}

{% block title %}次元福利{% endblock %}

{% block styles %}
	{% spaceless %}
		<link rel="stylesheet" href="{{ asset('bundles/lycheewebsite/emoticon/about/style.css') }}" />
	{% endspaceless %}
{% endblock %}

{% block scripts %}
<script>
function goDownload() {
	ga('send', 'event', 'emoticon', 'click', 'download');
	window.location.href = 'https://itunes.apple.com/app/apple-store/id896119899?mt=8';
}
</script>
{% endblock %}

{% block body %}
{% spaceless %}
<div class="phrase"></div>
<div class="coser"></div>
<div class="welfare"></div>
<div class="painting"></div>
<div class="change"></div>
<div class="ciyo"></div>
<a class="download" href="javascript:goDownload();"></a>
<div class="contact">官方QQ: 2963226781 &nbsp;&nbsp; 反馈邮箱: <a href="mailto:support@ciyocon.com">support@ciyocon.com</a></div>
<div class="cricle1"></div>
<div class="cricle2"></div>
{% endspaceless %}
{% endblock %}
