<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>加入我们</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lycheewebsite/home/styles/style.min.css') }}?0106">
</head>
<style type="text/css">
	html {
		color: #7b7f82;
	}
	body {
		background-color: #f5f5f5;
		color: #222222;
		text-align: left;
	}
</style>
<body>
{% include 'LycheeWebsiteBundle:Home:navigation.html.twig' with {'active': 'join-us'} %}
<div class="join-us">
	<div class="join_title">加入我们</div>
	<div class="join_line">&nbsp;</div>
	<div class="join_text">
		<p>欢迎应届毕业生！我们有老司机带路。</p>
		<p>欢迎推荐人才！推荐资深人才（两年以上相关经验）。</p>
	</div>
	<div class="ciyo_address">
		<p>工作地点：广州市越秀区广州大道中（地铁5号线五羊邨B出口前行50米）</p>
	</div>
	<div class="join_title">招聘职位</div>
	<div class="classify">
		<div class="icon icon-t">&nbsp;</div>
		技术研发类</div>
	<ul class="join_preview_list">
		<li><a href="#j1" class="position_box">iOS开发工程师</a></li>
		<li><a href="#j2" class="position_box">Android开发工程师</a></li>
		<li><a href="#j3" class="position_box">Web前端开发工程师</a></li>
		<li><a href="#j7" class="position_box">服务端研发工程师</a></li>
		<li><a href="#j8" class="position_box">运维工程师</a></li>
		<li><a href="#j4" class="position_box">产品经理</a></li>
		<li><a href="#j5" class="position_box">交互设计师</a></li>
		<li><a href="#j6" class="position_box">UI设计</a></li>
	</ul>

	<div class="classify">
		<div class="icon icon-c">&nbsp;</div>
		运营类</div>
	<ul class="join_preview_list">
		<li><a href="#j-c1" class="position_box">市场总监</a></li>
		<li><a href="#j-c2" class="position_box">商务拓展</a></li>
		<li><a href="#j-c3" class="position_box">渠道推广</a></li>
		<li><a href="#j-c4" class="position_box">社区运营</a></li>
		<li><a href="#j-c6" class="position_box">平面设计</a></li>
		<li><a href="#j-c7" class="position_box">表情包采集师</a></li>
		<li><a href="#j-c8" class="position_box">番剧测评师</a></li>
	</ul>

	<div class="join_detail" id="j1">
		<img src="http://join.ciyo.cn/img/ciyuanniang.png" alt="">
		<a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>iOS开发工程师</h2>
			<br> 工作职责：
			<p>1、负责次元社iOS客户端的开发和维护工作。 </p>
			职位要求：
			<br>
			<p>1、具有扎实的计算机基础(操作系统、网络编程，数据结构)；</p>
			<p>2、具备较强的需求分析，问题分析和解决能力；思路清晰，思维敏捷，快速的学习能力；</p>
			具有以下技能者优先：
			<br>
			<p>1、精通 Objective-C语言和Swift语言者优先；</p>
			<p>2、精通 UI、存储、动画、自动布局等方面开发技术；</p>
			<p>3、熟悉多线程编程，对高性能程序设计、架构、设计模式一定了解和经验；</p>
			<p>4、熟悉常用的 framework ，对内存管理、对象生命周期有清晰的认识；</p>
			<p>5、熟练使用git进行版本控制协同开发。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>

	<div class="join_detail" id="j2">
		<img src="http://join.ciyo.cn/img/ciyuanniang.png" alt="">
		<a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>Android开发工程师</h2>
			<br> 工作职责：
			<p>1、负责次元社Android客户端的开发和维护工作。 </p>
			职位要求：
			<br>
			<p>1、具有扎实的计算机基础(操作系统、网络编程，数据结构)，以及JAVA语言基础；</p>
			<p>2、具备较强的需求分析，问题分析和解决能力；思路清晰，思维敏捷，快速的学习能力；</p>
			具有以下技能者优先：
			<br>
			<p>1、熟悉主要系统控件及自定义控件、事件和手势操作，能够针对应用熟练的选择解决方案；</p>
			<p>2、掌握对于不同尺寸设备的兼容方法；</p>
			<p>3、有良好的Java功底,；熟练掌握Android API，理解Android运行原理和体系架构；</p>
			<p>4、熟练掌握数据存储、网络通信机制等，并对Socket和HTTP访问有实际开发经验；</p>
			<p>5、掌握Android性能和内存优化，善于解决系统崩溃，内存溢出和兼容性问题；</p>
			<p>6、熟悉Android中各种基于XML的布局方式，熟悉Volley 等常用三方框架的适用；</p>
			<p>7、熟悉Android各组件生命周期，并能在周期中合理的分配资源；</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j3"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>Web前端开发工程师</h2>
			<br> 工作职责：
			<p>1、负责次元社网站页面的开发和维护工作。</p>
			职位要求：
			<br>
			<p>1、具有扎实的计算机基础(操作系统、网络编程，数据结构)，以及JAVA语言基础；</p>
			<p>2、具备较强的需求分析，问题分析和解决能力；思路清晰，思维敏捷，快速的学习能力；</p>
			具有以下技能者优先：
			<br>
			<p>1、熟悉javascript(es5\es6)、css(3)、html(5)等的技术。了解各种web前端开发的方法论、工具与技术规范(可能包括但不限于jquery、 boostrap、bower、webpack、sass、react等等)；</p>
			<p>2、熟练使用php、ruby、python、java、javascript、go中的一种或一种以上的开发语言。对至少三种或三种以上开发语言有所了解；</p>
			<p>3、熟悉浏览器的特点与web页面的机制，了解http、tcp等的网络协议，知道web服务相关的各种技术；</p>
			<p>4、对数据库各种概念有所了解，熟悉mysql、mongodb、postgreSQL、redis中的一种或一种以上数据库，对至少两种或两种以上的数据库有所了解，并能指出其区别；</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j7"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>服务端研发工程师</h2>
			<br> 工作职责：
			<p>1、根据开发进度和任务分配，完成相应模块的设计、开发、编程任务；</p>
			<p>2、参与上线产品的升级与维护。</p>
			职位要求：
			<br>
			<p>1、熟练使用php、ruby、python、java、javascript、go中的一种或一种以上的开发语言。对至少三种或三种以上开发语言有所了解；</p>
			<p>2、对数据库各种概念有所了解，熟悉mysql、mongodb、postgreSQL、redis中的一种或一种以上数据库，对至少两种或两种以上的数据库有所了解，并能指出其区别；</p>
			<p>3、了解语义化之于HTML的含义；</p>
			<p>4、基础扎实，熟悉常用数据结构与基本算法，并具备较好的算法设计能力；</p>
			<p>5、应聘者附上参与的开源项目等优先。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j8"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>运维工程师</h2>
			<br> 工作职责：
			<p>1、对服务端应用进行日常的维护、管理、扩展等工作；</p>
			<p>2、部署、管理企业的计算环境与资源；</p>
			<p>2、快速响应线上突发事件，彻底解决服务端应用或系统层面相关问题；</p>
			<p>2、根据实际情况，提出现有系统平台的改进建议，并配合实施。</p>
			职位要求：
			<br>
			<p>1、对linux系统有深入研究，并有两年以上linux系统运维实际工作经验；</p>
			<p>2、对现时运维技术有强烈的兴趣和热情；</p>
			<p>3、熟练使用php、ruby、python、java、javascript、go中的一种或一种以上的开发语言；</p>
			<p>4、精通常用web服务，如nginx、php-fpm、tomcat等，并可熟练应用；</p>
			<p>5、了解常用监控服务，如zabbix、nagios、cacti，至少熟练使用其中之一；</p>
			<p>6、有良好的服务端问题排查思想，可自行解决应用或系统层面的问题。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j4"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>产品经理</h2>
			<br> 工作职责：
			<br>
			<p>1、负责移动客户端产品策划、设计和功能调研；</p>
			<p>2、确定产品功能、流程，用户体验方案，绘制产品原型图，编写相关需求文档；</p>
			<p>3、负责项目的实施过程，协助研发和测试需求理解及需求验证，跟进推动项目实施，及项目发布；</p>
			<p>4、对产品数据分析整理，收集用户反馈和需求，排列需求优先级，对需求进行快速迭代发布。</p>
			职位要求：
			<br>
			<p>1、熟悉互联网平台产品的开发流程，并曾经组织过产品设计、研发、推广及改进整个过程；</p>
			<p>2、熟练使用产品原型设计，思维导图，文档数据管理等软件；</p>
			<p>3、出色的语言、沟通、组织和协调能力，极强的问题解决能力，执行力强；</p>
			<p>4、对产品设计应有自己独立理解，并善于聆听用户、团队和合作伙伴的声音；</p>
			<p>5、对二次元的文化有一定程度的了解，能将二次元文化融合到产品之中；</p>
			<p>6、有社交社区类产品设计经验者优先。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j5"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>交互设计师</h2>
			<br> 工作职责：
			<br>
			<p>1、负责公司核心产品的交互设计/用户体验；</p>
			<p>2、人物画像建模，用户行为分析和场景分析，并体现到产品交互设计中；</p>
			<p>3、设计交互原型界面及评估，并形成交互文档，规范设计方法；</p>
			<p>4、持续优化用户体验，提高用户黏性。</p>
			职位要求：
			<br>
			<p>1、工业设计、心理学、人机交互、平面设计、广告设计等相关专业优先；</p>
			<p>2、强逻辑思维能力，熟练掌握业务需求分析、产品需求分解的技巧；</p>
			<p>3、对交互设计过程有深入了解，熟练应用流程图、线框图等交互设计方法及工具；</p>
			<p>4、对互联网行业热情，对互联网产品有深入体验和理解；</p>
			<p>5、熟悉图像设计软件并熟练使用Axure等交互设计软件；</p>
			<p>6、请提供作品。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j6"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>UI设计</h2>
			<br> 工作职责：
			<br>
			<p>参与完成产品设计及UI设计。</p>
			职位要求：
			<br>
			<p>1、App狂热爱好者，熟悉流行设计风格，熟悉视觉表达和用户体验，有一定的交互构想能力；</p>
			<p>2、手绘能力出色，构图及色彩能力扎实；</p>
			<p>3、熟练使用相关设计软件；</p>
			<p>4、完美主义者，有细节追求。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j-c1"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>市场总监</h2>
			<br> 工作职责：
			<br>
			<p>1、制定公司营销计划和合作计划，组织执行活动营销、品牌推广、公关等工作；</p>
			<p>2、开发、承接客户和合作伙伴，维护发展好合作关系；</p>
			<p>3、团队管理，制定工作流程和规范，推进和监督各环节的工作内容和工作标准；</p>
			<p>4、分析、研究公司产品和市场状况，开拓营销传播的项目、渠道和方式；</p>
			<p>5、组织和协调各类运营活动，协调和监控各渠道的营销工作。</p>
			职位要求：
			<br>
			<p>1、本科及以上学历，5年以上互联网企业的市场推广、品牌营销等工作经验；</p>
			<p>2、有丰富的市场和媒介资源，熟悉移动互联网特点和市场合作模式；</p>
			<p>3、对ACGN市场状况和用户特性有深刻理解；</p>
			<p>4、具备优秀的管理能力、执行能力，具备优秀的商务能力、公关能力，具备敏锐的市场洞察力和分析能力；</p>
			<p>5、有各大互联网企业或ACGN相关企业供职经验者优先考虑。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j-c2"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>商务拓展</h2>
			<br> 工作职责：
			<br>
			<p>1、开拓与维护线上线下同业的合作关系与合作方式；</p>
			<p>2、分析用户需求与合作契合点，策划创意，组织资源投入；</p>
			<p>3、通过与社区、技术等部门合作，连接外部合作伙伴，落实商务合作方案。</p>
			职位要求：
			<br>
			<p>1、对互联网事物、网络事件、营销事件高度敏感,熟悉社会化媒体与互联网语言；</p>
			<p>2、优秀的数据整合及逻辑能力，能独立完成分析和评估，挖掘内容和商务的契合点；</p>
			<p>3、优秀的商务沟通技巧，较强的商务文案写作能力，较强的审美能力；</p>
			<p>4、责任心、使命感、独立性、学习意识、开拓意识和团队精神；</p>
			<p>5、熟悉互联网流行文化、对ACGN相关内容有深入了解，在圈内有影响力者优先。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j-c3"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>渠道推广</h2>
			<br> 工作职责：
			<br>
			<p>1、深入了解不同渠道及用户特性，独立拓展和维护各渠道及应用市场，完成推广工作；</p>
			<p>2、对运营数据进行分析，发掘和提升运营质量；</p>
			<p>3、监测、搜集、整理和分析市场信息，及时反馈市场动向；</p>
			<p>4、开拓新兴渠道通路，维护社会化媒体营销和推广。</p>
			职位要求：
			<br>
			<p>1、熟悉互联网行业，2年以上互联网推广经验和应用市场合作经验；</p>
			<p>2、优秀的商务谈判和项目管理能力，敏锐的市场嗅觉；</p>
			<p>3、细致、耐心的数据分析和数据整理能力，利用专业知识解决问题的能力；</p>
			<p>4、责任心、使命感、独立性、学习意识、开拓意识和团队精神；</p>
			<p>5、熟悉互联网流行文化、对ACGN相关内容有深入了解，在圈内有影响力者优先。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j-c4"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>社区运营</h2>
			<br> 工作职责：
			<br>
			<p>1、审核、制作、发布、管理社区内容，策划执行社区内容运营项目；</p>
			<p>2、维护用户关系，收集用户反馈，监测、分析社区事件、用户动态、用户行为，增强用户黏性；</p>
			<p>3、在社会化媒体上开展内容传播工作，策划和实施传播事件；</p>
			<p>4、配合其他部门做好内容输出。</p>
			职位要求：
			<br>
			<p>1、优秀的策划能力，较强的语言及文字表达能力；</p>
			<p>2、了解互联网各产品形态，熟悉互联网使用；</p>
			<p>3、有幽默感，有恶搞精神，节操值见底，优秀的审美能力，超强的好奇心，脑洞大；</p>
			<p>4、责任心、使命感、独立性、学习意识、开拓意识和团队精神；</p>
			<p>5、必须熟悉互联网流行文化、对ACGN相关内容有深入了解，在圈内有影响力者优先。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j-c6"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>平面设计</h2>
			<br> 工作职责：
			<br>
			<p>根据需求，设计和制作运营素材。</p>
			职位要求：
			<br>
			<p>1、绘画功底扎实，创意能力出众、色彩感知力强；</p>
			<p>2、熟练使用PS,SAI,AI等相关设计软件；</p>
			<p>3、兴趣广泛，视野开阔，优秀的审美能力；</p>
			<p>4、手快，会制作GIF小动画者优先。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>

	<div class="join_detail" id="j-c7"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>表情包采集师</h2>
			<br> 工作职责：
			<br>
			<p>1、混迹各大论坛/网站/社交平台等，熟悉了解并搜集当下热门表情包；</p>
			<p>2、在二三次元中的各种热门IP中截取画面、制作表情包；</p>
			<p>3、将次元社中次元娘的形象或元素通过改图/二次创作等加入热门表情中，并加以策划传播；</p>
			<p>4、定期为公司每位员工制作和更新颜艺表情包，搞活内部人员气氛，点燃同事的斗图热情。</p>
			职位要求：
			<br>
			<p>1、熟悉各大社交平台，能时刻掌握网络热词热梗，熟悉并认可表情包文化；</p>
			<p>2、悟性高，笑点全，吐槽体质优先，不用表情包聊天会死星人优先；</p>
			<p>3、熟悉掌握各类图片处理软件；</p>
			<p>4、手指能完美接触ctrl+alt+A三个键及鼠标右键；</p>
			<p>5、学习能力强，执行能力高，能将各种脑洞进行最大化传播。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上</p>
		</div>
	</div>
	<div class="join_detail" id="j-c8"><img src="http://join.ciyo.cn/img/ciyuanniang.png" alt=""> <a href="#navigation" class="up_top">回到顶部</a>
		<div class="join_detail_text">
			<h2>番剧测评师</h2>
			<br> 工作职责：
			<br>
			<p>1、及时观看时下新番/电视剧/电影/漫画等，并对其作出具有独特见解的评价，通过各种形式进行吐槽或推荐等；</p>
			<p>2、通过各种平台和渠道搜集二次元新番资讯，在社区内发布和传播；</p>
			<p>3、针对以上内容定期制作有趣专题，吸引用户浏览并引起讨论；</p>
			<p>4、合理运用公司每月预算，策划及执行和当下热门番剧相关的线上/线下活动。</p>
			职位要求：
			<br>
			<p>1、掌握一手的番剧资源，熟悉AB站等追番平台和资源搜索平台，翻墙小能手加分；</p>
			<p>2、对ACGN相关资讯有极高的敏锐度，了解番剧中的各种梗，如声优梗、作画梗等；</p>
			<p>3、拥有爆棚的幽默感、隐藏的吐槽力和适当的恶搞精神；</p>
			<p>4、较强的文字功底和语言表达能力，一口气脑补一万字不费力，一本正经地胡说八道；</p>
			<p>5、熟悉互联网流行文化、对ACGN相关内容有深入了解和独特见解，在二次元圈内有影响力者优先。</p>
			<br>
			<p>详细个人介绍与简历投递至<span class="red">sama@ciyocon.com</span></p>
			<p>（邮件标题格式为"真实姓名-应聘职位"）</p>
			<p>如有作品和案例请附上，近视请注明</p>
		</div>
	</div>
</div>

{% include 'LycheeWebsiteBundle:Home:footer.html.twig' %}
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>