@import 'nib'

cy-font-size(s)
  font-size: 1rem * (s/6px)
  font-size: 100vw * (s/750px)

cy-percentage(n)
  return percentage(round(n, 6))

global-reset()

html
  background-color: #f4f6f8
  font-family: Helvetica
  font-size: 6px
  screens = 320px 346px 360px 375px 384px 390px 400px 412px 414px 480px 504px 600px 720px 768px 800px
  for screen in screens
    @media screen and (min-width: screen)
      font-size: (6px / 750px * screen)
  @media screen and (min-width: 9999px)
    font-size: 18px

body
  background-color: #f4f6f8
  user-select: none

a
  text-decoration: none

.banner
  width: 100%
  height: auto
  background-color: #eee
  li
    overflow: hidden
    &::before
      content: ""
      display: block
      //padding-top: cy-percentage(350/750)
      padding-top: cy-percentage(240/640)
  a
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  img
    display: block
    width: 100%
    position: absolute
    bottom: 0

  .swiper-pagination-bullets
    .swiper-pagination-bullet
      width: cy-percentage(16/750, 6)
      height: auto
      background: #bbc2ca
      opacity: 1
      margin: 0 cy-percentage(10/750)
      &::before
        content: ""
        display: block
        padding-top: 100%

    .swiper-pagination-bullet-active
      background: #00e4ff

  .swiper-pagination
    bottom: cy-percentage(10/350)

.section
  margin-top: cy-percentage(20/750)
  position: relative
  background-color: #fff
  h2
    display: inline-block
    cy-font-size: 30px
    color: #858e99
    margin: cy-percentage(32 / 750) 0 cy-percentage(8 / 750) cy-percentage(36 / 750)
  .more
    absolute: top 0 right 0
    margin: cy-percentage(29 / 750) cy-percentage(20 / 750) 0 0
    cy-font-size: 24px
    color: #00e4ff
    display: block
    width: cy-percentage(80 / 750)
    line-height: round((37 / 24), 6)
    vertical-align: middle
    text-align: center
    background-image: embedurl('./more.svg')
    background-size: contain
    background-repeat: no-repeat
  &::after
    content: ''
    display: block
    height: 1px

.topic
  position: relative
  &::before
    content: ''
    display: block
    padding-top: cy-percentage(180 / 750)
  &:not(:last-child)::after
    content: ''
    display: block
    height: 1px
    background-color: #d7dce1
    width: cy-percentage(560 / 750)
    margin-left: cy-percentage((750 - 560) / 750)
  a
    display: block
    width: 100%
    height: 100%
    absolute: top 0 left 0
  .cover
    absolute: top 0 left 0
    margin: cy-percentage(16 / 750) 0 0 cy-percentage(24 / 750)
    width: cy-percentage(150 / 750)
    overflow: hidden
    border-radius: cy-percentage(8 / 150)
    &::before
      content: ''
      display: block
      padding-top: 100%
    img
      display: block
      width: 100%
      height: 100%
      absolute: top 0 left 0
    .color
      absolute: bottom 0
      width: 100%
      padding-top: cy-percentage(20/150)
  h3
    cy-font-size: 30px
    color: #2b2b2b
    absolute: top 0 left 0
    margin: cy-percentage((52 - 10) / 750) 0 0 cy-percentage(204 / 750)
    width: cy-percentage((750 - 24 - 204) / 750)
    line-height: 1.2
    overflow: ellipsis
  p
    cy-font-size: 26px
    color: #858e99
    absolute: top 0 left 0
    margin: cy-percentage((92 - 10) / 750) 0 0 cy-percentage(204 / 750)
    width: cy-percentage((750 - 24 - 204) / 750)
    height: cy-percentage((26 * 1.2) / 180)
    line-height: 1.2
    overflow: ellipsis
  i
    cy-font-size: 18px
    color: #fff
    absolute: top 0 left 0
    margin: cy-percentage(128/750) 0 0 cy-percentage(200/750)
    display: block
    line-height: (30 / 18)
    vertical-align: middle
    font-style: normal
    padding: 0 cy-percentage(30/750)
    overflow: ellipsis
    max-width: cy-percentage((750 - 200 - 24 - 2 * 30) / 750)
    // background-color: #d6dadf
    background-image: embedurl('./semicircle-left.svg'), embedurl('./box.svg'), embedurl('./semicircle-right.svg')
    background-repeat: no-repeat, no-repeat, no-repeat
    background-position: left, left, right
    background-size: contain, cover, contain
    background-origin: padding-box, content-box, padding-box

.subjects
  margin: cy-percentage(28/750) 0
  width: 100%
  li
    width: cy-percentage(550/750)
    border-radius: 8px
    overflow: hidden
    position: relative
    background-color: #f4f6f8
    &::before
      content: ''
      display: block
      padding-top: cy-percentage(200/600)
    a
      absolute: top 0 left 0
      width: 100%
      height: 100%
    img
      width: 100%
