.top{
	height: 30px;
	background: #f9f9f9;
	margin:0 auto;
	width:100%;
	border-bottom: 1px #e6e6e6 solid;
}
header{
	width: 100%;
	height:88px;
	position: relative;
	z-index: 1;
	margin:0 auto;
	background: #fff;
	box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
header .logo{
	width: 180px;
	padding-top: 20px;
	padding-right: 96px;
	
}
header .logo img{
	width: 100%;
}
.header_nav{
	height: 100%
}
.header_nav li{
	width: 108px;
	height: 85px;
	float:left;
}
.header_nav li a{
	color: #333;
	display: block;
	text-align: center;
	line-height: 90px;
	transition: all ease-out 200ms;
}
.animation{
	transition: all ease-out 200ms;
}
.header_nav li a:hover{
	color: #059ef5;
}
.header_nav .header_nav_cur{
	color:#059ef5;
	border-bottom:3px solid #059ef5;
}
.header_nav li:hover{
	border-bottom:3px solid #059ef5;
	transition: all 0.1s ease-out
}
.header_nav .header_nav_cur a{
	color: #059ef5!important;
}

.inner{
	width: 1150px;
	height:100%;
	margin:0 auto;
}
.search_form{
	position: relative;
	margin-top: 29px;
	height:30px;
}
.search_form input{
	float: left;
	font-size: 14px;
	height:30px;
}
.search_button{
	width: 30px;
	background:url(../../images/350/search.png) no-repeat;
}
.search_button:hover{
	cursor: pointer;
}
.qr-code{
	width: 310px;
	height: 136px;
	border-radius: 4px;
	overflow: hidden;
	padding-top: 20px;
}
.search_area{
	width: 0px;
	background: #fff;
	padding-left: 6px;
	border-left:1px #eee solid	
}
@keyframes scale-in-ease {
 0% {
 opacity:0;
 -webkit-transform:scale(0);
 transform:scale(0)
}
 50% {
 -webkit-transform:scale(1.1);
 transform:scale(1.1)
}
 100% {
 opacity:1;
 -webkit-transform:scale(1) perspective(1200px);
 transform:scale(1) perspective(1200px)
}
}
.top_left p{
	font-size: 12px;
	line-height: 30px;
	padding-left: 8px;
	color: #666
}
.top_left i{
	font-size: 17px;
	line-height: 29px;
}

.top_left>div{
	padding-right: 20px;
}
.qq_p:hover p{
	color:#4fbfff;
}
.cellection_p:hover p{
	color:#4fbfff;
}
.user_id>div{
	font-size: 12px;
	line-height: 30px;
	color: #666;
	cursor: pointer;
}
.user_id .line{
	cursor:default;
}
.user_id .login{
	padding-right: 8px;
}
.user_id .login:hover{
	color: #059ef5
}
.user_id .regist{
	padding-left: 8px;
}
.user_id .regist:hover{
	color: #059ef5
}
.pop{
	width: 100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 2;
	background:rgba(0,0,0,0.6);
	display: none;
}
.login_pop_inner{
	width:340px;
	height:300px;
	background: #fff;
	position: absolute;
	left: 50%;
	border-radius: 8px;
	margin-left: -180px;
	top:30%;
}
.regist_pop_inner{
    width: 390px;
    height: 453px;
    background: #fff;
    position: absolute;
    left: 50%;
    border-radius: 8px;
    margin-left: -195px;
    top: 24%;
}
.closed{
	width: 36px;
	height: 36px;
	position: absolute;
	right: -15px;
	top: -15px;
	transition: all ease-out 150ms;
	background: url(../../images/350/closed.png) no-repeat;
}
.closed:hover{
	transform: rotate(90deg);
	background: url(../../images/350/closed2.png) no-repeat;
	cursor: pointer;
}
.login_title{
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #333;
	width: 100%;
	border-radius: 8px 8px 0 0;
}
.login_title img{
	width: 124px;
	position: relative;
	top:-20px;
}

.form{
	width:280px;
	margin:0 auto ;
}
.input_border{
	height: 40px;
	border-bottom:1px solid #ededed;
	width: 100%;
	margin-top: 10px;
}
.input_border i{
	line-height: 40px;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 16px;
}
.input_border .cancel{
	color: #d0d0d0;
	position: relative;
	top:1px;
	cursor: pointer;
	display: none;
}
.input_border input{
	font-size: 14px;
	height: 39px;
	line-height: 39px;
	width: 180px;
}
.next_forget{
	height:18px;
	width: 100%;
	font-size: 12px;
	color: #666;
	margin-top: 10px;
}
.next_forget a{
	color:#059ef5;
}
.next_forget a:hover{
	color: #059ef5;
	text-decoration: underline;
}
.next_forget label{
	cursor: pointer;
}
.r_checkbox{
	position: relative;
	top: 2px;
	margin-right: 4px;
}
.tips{
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #ed423e;
	font-size: 14px;
}
.submit{
	width: 100%;
	overflow: hidden;
	height: 40px;
	background: #32b0f8;
	overflow: hidden;
	margin-top: 3px;
	border-radius: 4px;
}
.submit:hover{
	background: #059ef5;
	
}
.submit input{
	line-height: 40px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	color:#fff;
}
.regist_list{
	text-align: center;
	font-size: 14px;
	padding-top: 16px;
}
.regist_list a{
	color: #059ef5
}
.regist_tab{
	width: 280px;
	margin:6px auto 0;
	
}
.regist_tab>div{
	float: left;
	width: 140px;
	text-align: center;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	background: #eee;
	border-radius: 4px
}
.regist_tab>div a{
	display: block;
	width: 100%;
	height: 100%;
	color: #999
}
.regist_tab .cur{
	background: #fff
	
}
.regist_tab .cur a{
	color: #059ef5
}
#check_code{
	cursor: pointer;
	width: 88px;
	float: right;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #32b0f8;;
	color:#fff;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 5px
}
#verify_code{
	cursor: pointer;
	width: 88px;
	float: right;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #32b0f8;;
	color:#fff;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 5px
}
#check_code_email{
	cursor: pointer;
	width: 88px;
	float: right;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #32b0f8;;
	color:#fff;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 5px
}
.input_border .check_input{
	width: 100px;
}
.main{
	width: 1150px;
	margin:0 auto;
	overflow: hidden;
}
.user_id{
	position: relative;
}
.user_id a{
	line-height: 30px;
	font-size: 14px;
	color:#059ef5;
	padding-right: 16px;

}
.user_id>i{
	position: absolute;
	right: 0;
	top: 12px;
	width: 0;
	height: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	display: inline-block;
	border-top: 5px solid #999;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;
	border-bottom: 0 none;
	transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.user_id:hover>i{
	transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.user_pop{
	width: 160px;
	height: 80px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-top: none;
	position: absolute;
	z-index: 2;
	left:-9px;
	border-radius: 0 0 6px 6px;

}
.user_pop li{
	height: 40px;
	width: 140px;
	margin:0 auto;
	
	

}
.user_pop li a{
	color: #666;
	line-height: 40px;
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
}
.user_pop li:nth-child(1){
	border-bottom: 1px #e6e6e6 solid
}
.user_pop li:nth-child(1):hover a{
	color: #059ef5;
}
.user_pop li:nth-child(2):hover a{
	color: #fa2d37;
}
.user_pop li i{
	padding-right: 4px;
}
.big_title span{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}
.big_title i{
	color:#ffb018;
	font-size: 20px;
}
.transition{
	transition: all cubic-bezier(.22, .58, .12, .98) 0.4s;
	-webkit-transform-origin: 80% 0;
	-ms-transform-origin: 80% 0;
	transform-origin: 80% 0;
	-webkit-animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .5s;
	animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .5s;

}
.footer_con1 li a{
	font-size:14px;
	line-height:16px;
	display:block;
	height:18px;
	border-right:1px solid #ccc;
	float:left;
	color:#e0e0e0;
	padding-left:12px;
	padding-right:12px;
	}
.footer_con1 li a:hover{
	color:#059ef5}
.footer_con2{
	text-align:center;
	width:1200px;
	margin:0 auto;
	padding-top:10px;
	font-size:14px;
	color:#999
}

.footer_con1 li .border_none{
	border-right:0px;}
.footer_con1{
	width:506px;
	overflow: hidden;
	margin:34px auto 0;}
.footer_con3{
	width:1200px;
	margin:0 auto;
	text-align:center;
	font-size:14px;
	color:#666;
	padding-top:10px;}

.footer {
	width:100%;
	height:148px;
	border-top:1px solid #eeeeee;
	background-color:#3b3b3b;
	margin-top:60px;
}
.footer_con2 a{
	color: #e0e0e0;
}
.footer_con2 a:hover{
	color:#059ef5;}
.footer_inner{
	width:1200px;
	margin:0 auto;}



.map-main{
	background: #fff;
	width: 1150px;
	margin: 0 auto;
	padding-bottom: 30px
}
.big-title{
	font-weight: 700;
	font-size:20px;
	margin-top: 30px;
	text-indent: 20px;
	width: 100%;
	border-bottom:1px solid #eee;
	line-height: 40px;
}
.title{
	border-left: 2px solid #12b7f5;
	font-size:18px;
	font-weight: 600;
	text-indent: 10px;
	margin-top: 20px
}
.table{
	margin-left: 30px
}
.table li ul{
	overflow: hidden;
}
.table li li{
	float: left;
	border-right:1px solid #e2e2e2;
	line-height: 15px;
	height: 16px
}
.table li ul{
	margin-top: 10px
}
.table li li:last-child{
	border: none
}
.table li li a{
	font-size: 16px;
	margin-right:10px;
	margin-left:10px;
	vertical-align: top;
	display: inline-block;
}
.fix_bar{
	position: fixed;
	right: 20px;
	bottom: 100px;
	background: #fff;
	width: 50px;
	height: 150px;
	border-radius: 4px;
	box-shadow: 0 4px 8px #e0e0e0;
}
.fix_bar li{
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin:0 auto;
	background: url(../../images/350/fix_bar.png) no-repeat;
	border-bottom:1px solid #ededed;
}
.fix_bar li:nth-child(1){
	
	background-position: 0 0;
	position: relative;

}
.fix_bar li:nth-child(1):hover{
	background-position: -50px 0;
	
}
.fix_bar li:nth-child(1):hover .wechat_code{
	display: block;
}
.fix_bar li:nth-child(2){
	background-position: 0 -50px;
}
.fix_bar li:nth-child(2) a{
	display: block;
	width: 100%;
	height: 100%;
}
.fix_bar li:nth-child(2):hover{
	background-position: -50px -50px;
}
.fix_bar li:nth-child(3){
	background-position: 0 -100px;
}
.fix_bar li:nth-child(3):hover{
	background-position: -50px -100px;
}
.totop{
	display: block;
	width: 100%;
	height: 100%
}
.wechat_code{
	display: none;
	width:172px;
	height:161px;
	
	position: absolute;
	z-index: 14;
	right:92px;
	transition: all cubic-bezier(.22, .58, .12, .98) .2s;
	-webkit-transform-origin: 80% 0;
	-ms-transform-origin: 80% 0;
	transform-origin: 80% 0;
	-webkit-animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .5s;
	animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .5s;

}