.slide_box{
	width:100%;
	height:500px;
	position: relative;

}
.slide_box .slide_bd{
	height: 500px;
	overflow: hidden;
	position: relative;
}
.slide_bd li {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}
.slide_bd li a{
	display: block;
	width: 100%;
	height: 100%
}
.slide-next, .slide-prev { 
	width: 45px; 
	height: 80px; 
	line-height: 200; 
	overflow: hidden; 
	position: absolute;
	top: 210px; 
	left: 0px; 
	background: #000; 
	opacity: 0.5; 
	filter:alpha(opacity=50);
}
.slide-next { 
	left: auto;
	 right: 0px; 
	 background-position: -68px -434px;
}
.slide-next:hover, .slide-prev:hover { 
	background: #03b4f5; opacity: 1;
}
.slide-next:before, .slide-prev:before { 
	display: block;
	width: 14px;
    height: 25px; 
    margin: 28px auto 0; 
    content: '';}
.slide-prev:before {
	background-position: 0 -240px;
}
.slide-next:before { 
	background-position: 0 -270px;
}
.slide-nav { 
	width: auto;
    height: 24px; 
    line-height: 20px; 
    padding: 0 12px; 
    overflow: hidden; 
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1); 
    background: rgba(255,255,255,0.3); 
    position: absolute; bottom: 20px; 
    left: 50%; border-radius: 15px;
    cursor: pointer;
}
.slide-nav li { 
	display: inline-block; 
	vertical-align: middle; 
	width: 14px; height: 14px; 
	margin: 0 6px; 
	line-height: 99px; 
	overflow: hidden; 
	border-radius: 50%; 
	background: rgba(0,0,0,0.3);
	*display: inline; 
	zoom: 1;
	transition: all ease-out 300ms;
}
.slide-nav li:hover, .slide-nav .active { 
	
	box-shadow: 0 2px 3px #9b9b9b;
	background: #059ef5;
	/*transition: all ease-out 250ms;*/


}
/*.g-container*/
.fix_bar{
	position: fixed;
	right: 20px;
	bottom: 100px;
	background: #fff;
	width: 50px;
	height: 150px;
	border-radius: 4px;
	box-shadow: 0 4px 8px #e0e0e0;
}
.fix_bar li{
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin:0 auto;
	background: url(../../images/350/fix_bar.png) no-repeat;
	border-bottom:1px solid #ededed;
}
.fix_bar li:nth-child(1){
	
	background-position: 0 0;
	position: relative;

}
.fix_bar li:nth-child(1):hover{
	background-position: -50px 0;
	
}
.fix_bar li:nth-child(1):hover .wechat_code{
	display: block;
}
.fix_bar li:nth-child(2){
	background-position: 0 -50px;
}
.fix_bar li:nth-child(2) a{
	display: block;
	width: 100%;
	height: 100%;
}
.fix_bar li:nth-child(2):hover{
	background-position: -50px -50px;
}
.fix_bar li:nth-child(3){
	background-position: 0 -100px;
}
.fix_bar li:nth-child(3):hover{
	background-position: -50px -100px;
}
.totop{
	display: block;
	width: 100%;
	height: 100%
}
.wechat_code{
	display: none;
	width:172px;
	height:161px;
	
	position: absolute;
	z-index: 14;
	right:92px;
	transition: all cubic-bezier(.22, .58, .12, .98) .2s;
	-webkit-transform-origin: 80% 0;
	-ms-transform-origin: 80% 0;
	transform-origin: 80% 0;
	-webkit-animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .5s;
	animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .5s;

}

.game_recom{
	width: 100%;
	margin-top: 48px;
}
.game_recom_con{
	width: 100%;
	margin-top: 10px;
	overflow: hidden;
}
.game_recom_con li{
	width: 360px;
	height: 254px;
	background: #fff;
	float: left;
	margin-right: 35px;

}
.game_recom_con li:nth-child(3){
	margin-right: 0;
}
.game_recom_img{
	width: 100%;
	height: 178px;
	overflow: hidden;
	position: relative;
	z-index:0;
}
.game_recom_img img{
	width: 100%;
	height: 178px;
}
.down_block{
	width: 100%;
	height: 100%;
	top:-190px;
	background:rgba(5,158,245,0.7);
	position: absolute;
}
.down_block a{
	width: 100%;
	height: 100%;
	display: block;
}
.game_recom_img:hover .down_block{
	top: 0;
}
.game_introduce{
	width: 180px;
	padding:18px 0 0 20px;

}
.game_introduce p{
	color:#fff;
	padding:6px 0 6px 0;
	font-size: 16px;
}
.game_introduce p:nth-child(2){
	font-size: 18px;
}
.down_code img{
	width: 110px;
	height: 110px;
	border: 2px solid #fff;
}
.down_code{
	padding: 31px 0 0 21px;
}
.game_name{
	width:90%;
}
.game_name p{
	color: #333;

	
}
.game_name p:nth-child(1){
	padding: 10px 0 0 15px;
	font-size: 16px;
}
.game_name p:nth-child(2){
	font-size: 14px;
	padding:3px 0 0 15px;
	color: #999;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}
.down_gift{
	position: relative;
	margin:4px 18px 0 30px;
}
.plus{
	position: absolute;
	top:2px;
	left:27px;
	display: none;
	color: #ffb018;
}
.down_gift a{
	display: block;
	width:70px;
	color: #999;
	height: 26px;
	text-align: center;
	line-height: 26px;
	float: left;
	margin-right: 4px;
	font-size: 14px;
	margin-left: 6px;
	border-radius: 4px;
}
.down_gift a:nth-child(1) i{
	position: relative;
	top:2px;
	padding-right: 2px;
}
.down_gift a:nth-child(2) i{
	position: relative;
	top:1px;
}
.down_gift a:nth-child(1):hover{
	color: #ffb018;
}

.down_gift a:nth-child(3){
	background: #059ef5;
	color: #fff
}
.down_gift a:nth-child(3):hover{
	background: #1a8fd1;
	color: #fff
}

.game_hot{
	margin-top: 34px;
	width: 756px;
}
.service_table{
	width: 359px;
	margin-left: 35px;
	margin-top: 34px;
}
.game_list{
	margin-top:10px;
	height: 385px;
	width: 756px
}
.game_list li{
	width: 238px;
	height: 115px;
	margin-left: 20px;
	background: #fff;
	box-shadow: 0 3px 6px #ececec;
	float: left;
	margin-bottom: 20px;
	border-radius: 2px;
	transition: all ease-out 200ms;
}
.game_list li:hover{
	box-shadow: 0 4px 8px #dedede;
}
.game_list li:hover .game_intro .down_button{
	background: #059ef5;
	border: 1px solid #059ef5;
	color:#fff;
}
.game_list li:nth-child(3n-2){
	margin-left: 0
}
.slide_bar{
	width: 0%;
	margin:0 auto;
	height: 2px;
	background: #059ef5;
	transition: all ease-out 220ms;
}
.game_list li:hover .slide_bar{
	width: 100%;
}
.game_icon{
	width: 84px;
	height: 84px;
	margin-top: 14px;
	margin-left: 18px;
}
.game_icon img{
	width: 100%;
}
.game_intro{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 16px;
	margin-top: 10px;
	width: 120px;
}
.game_intro h4{
	color: #ffb018;
	font-size: 18px;
	line-height: 14px;

}
.game_intro h2{
	font-size: 14px;
	color:#666;
}
.down_button{
	display: block;
    width: 62px;
    height: 24px;
    font-size: 12px;
    margin-top: 10px;
    line-height: 24px;
    border: 1px solid #999;
    text-align: center;
    color: #999;
    border-radius: 3px;
    transition: all ease-out 200ms;
}

.service_table ul{
	width: 359px;
	height: 315px;
	display: none;
	background: #fff;
}

.big_title .more{
	font-size: 22px;
	color: #999;
	margin-top: 8px;
	transition: all ease-out 200ms;
}
.big_title .more:hover{
	color:#059ef5;
	transform: rotate(180deg);
}
.service_table_title{
	height: 32px;
	margin-top:10px;
	background:#fff;
}
.service_table_title div{
	font-size: 15px;
	color:#999;
	line-height: 32px;
	text-align: center;
	width: 119px;
}

.service_table ul li{
	height: 34px;
	width: 340px;
	margin:0 auto;
	border-bottom:1px dotted #dedede;
}

.service_table ul li div{
	text-align: center;
	float: left;
	font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	width: 113px;
	color: #666;
	line-height: 34px;
}
.service_table ul li .g_name{
	color:#ff7500;
}
.service_table ul li:hover{
	background: #059ef5;
	transition: all ease-out 200ms;
	}
.service_table ul li:hover div{
	color:#fff;
}
.page_nation{
	
	width: 100%;
	margin:0 auto 20px;
	height: 38px;
	background: #fff;
	line-height: 34px;

}
.page_prev{
	display: block;
	width:10%;
	margin-left: 126px;
	text-align: center;
}
.page_next{
	display: block;
	width:10%;
	text-align: center;
}
.cur_page{
	font-size: 14px;
	color:#666;
	width: 10%;
	text-align: center;
}
.news{
	margin-top: 17px;
	width: 360px;
}
.gift{
	margin-top: 17px;
	width: 360px;
	margin-left: 35px;
}
.service{
	margin-top: 17px;
	width: 360px;
	margin-left: 35px;
}
.news_con{
	width: 100%;
	height: 384px;
	background: #fff;
	margin-top: 10px;
}
.news_con li{
	height: 41px;
	width: 340px;
	margin:0 auto;
	border-bottom:1px dotted #dedede;
}
.news_con li:nth-child(8){
	border: none;
}
.active_tag{
	width: 40px;
	height: 20px;
	font-size: 14px;
	margin-top: 2px;
	line-height: 20px;
	display: block;
	color:#f94848;
	padding-left:4px; 
	position: relative;
	top:9px;
	border-left:2px solid #059ef5;

}
.strategy_tag{
	width: 40px;
	height: 20px;
	font-size: 14px;
	margin-top: 2px;
	line-height: 20px;
	display: block;
	color:#999;
	padding-left:4px; 
	position: relative;
	top:9px;
	border-left:2px solid #4bcf4b;

}
.new_tit{
	color:#666;
	display: block;
	font-size: 14px;
	width: 250px;
	height: 41px;
	line-height: 41px;	
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.new_tit:hover{
	text-decoration: underline;
}
.news_time{
	font-size: 12px;
	height: 41px;
	line-height: 41px;
	color: #999;
	width: 38px;
	margin-left: 4px;
}
.top_news{
	width: 340px;
	margin: 0 auto;
	padding-top: 10px;
}
.top_news img{
	width: 100%;
}
.gift_con li{
	height: 72px;
}
.gift_con li:nth-child(5){
	border: none;
}
.gift_icon{
	padding-top: 12px;
	width: 46px;
	height: 46px;
}
.gift_icon img{
	width: 100%
}
.gift_name{
	color:#666;
	width: 144px;
	font-size: 14px;
	margin-left: 12px;
	margin-top: 9px;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}
.game_intro_name{
	font-size: 15px;
}
.gift_name .surplus{
	display: block;
	font-size: 14px;
	color: #999;
	padding-top: 3px;
}
.gift_name .surplus i{
	color: #f94848;
	font-style: normal;
}
.gift_con li:hover .gift_name .surplus i{
	font-weight: 700;
	font-style: italic;
	transition:all 0.1s ease;
}
.get_gift{
	border-radius: 4px;
	display: block;
	width: 60px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	background: #4bcf4b;
	color: #fff;
	font-size: 14px;
	margin:24px 0 0 48px;
}
.get_gift:hover{
	background:#2fa72e
}
.contact li{
	line-height: 41px;
	font-size: 14px;
	color:#666;
}
.contact li i{
	font-size: 22px;
	padding: 0 22px 0 52px;
}
.contact li a{
	color:#666;
}
.contact li a:hover{
	color:#059ef5;
}
.contact li .ser_qq{
	color:#4fbfff;
}
.contact li .ser_phone{
	color:#58ddba;
}
.contact li .ser_mail{
	color:#f9d95a;
}
.news_con h4{
	font-weight: bold;
	line-height: 32px;
	padding-left: 20px;
	color:#666;
}
.quick{
	float: left;
	width: 100px;
	height: 80px;
	border:1px solid #fff;
	margin-left: 15px;
	margin-top: 4px;
	border-radius: 8px;
	overflow: hidden;
}
.find_pass:hover{
	border: 1px solid #4ebbf9
}
.perfect_infor:hover{
	border: 1px solid #ff7d81
}
.contact_qq:hover{
	border: 1px solid #000
}

.friend_link{
  padding-top: 30px;
  width: 1150px;
  margin:0 auto;
  
}
.friend_link_t{
  font-size: 20px;
  border-left: 3px solid #ff8212;
  text-indent: 10px;
}
.all_link{
  	padding-top: 10px;
	background: #fff;
	margin: 12px auto;
	text-indent: 10px;
	padding-bottom: 12px;
}
.all_link a{
  font-size: 14px;
  padding-right: 14px;
  color:#666;
}
.all_link a:hover{
  color:#059ef5;
}
/*.all_link a:visited{
	color: #999
}*/
