{% set title = '推荐管理' %}
{% set subTitle = '创建专题' %}
{% extends 'LycheeAdminBundle:ManualIntervention:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-wrap { max-width: 800px; padding: 0 20px 20px; border: 1px dashed grey; }
        .form-wrap h3 { color: #999; }
        .associated-content-wrap label { display: block; }
        .associated-content-wrap select { float: left; width: 25%; margin-right: 5%; }
        .associated-content-wrap input { float: left; width: 60%; }
        .associated-content-wrap button { float: right; }
    </style>
{% endblock %}

{% block body %}
    <div class="form-wrap">
        <form method="post" action="{{ path('lychee_admin_manualintervention_createspecialsubject') }}" enctype="multipart/form-data">
            <h3>1. 专题</h3>
            <div class="form-group">
                <label for="name">专题名称（标题）</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">专题描述</label>
                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="banner">专题封面</label>
                <input type="file" id="banner" name="banner">
                <p class="help-block">上传封面图</p>
            </div>
            <hr/>
            <h3>2. 关联内容</h3>
            <div class="form-group associated-content-wrap clearfix">
                <label for="associated_id">关联ID</label>
                <select name="type[]" class="form-control special-subject-type">
                    <option value="post">帖子</option>
                    <option value="topic">{{ topic_name }}</option>
                    <option value="user">用户</option>
                </select>
                <input type="text" class="form-control" name="associated_id[]">
                <button type="button" class="btn btn-info btn-add-associated">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary">发 布</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var $addAssociatedBtn = $(".btn-add-associated");

            $addAssociatedBtn.click(function () {
                var $associatedDiv = $(this).parent();
                var $clone = $associatedDiv.clone(true);
                $clone.children("input[type=text]").val("");
                $clone.insertAfter($associatedDiv);
            });
            $(".special-subject-type").change(function () {
                var val = $(this).val();
                $(this).children("option").each(function (index, elem) {
                    if ($(elem).val() == val) {
                        $(elem).attr("selected", true);
                    }
                });
            });
        });
    </script>
{% endblock %}