@import 'nib'

global-reset()

html, body
  margin: 0 auto

html
  background-color: #45c3f5
  background-image: url("image/bg2.png")
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: auto 100%

body
  max-width: 1000px
  height: 900px
  position: relative
  font-family: Helvetica
  background-color: transparent

.banner
  width: 60.5%
  position: absolute
  margin-top: 9%
  padding-top: 20.3%
  left: 50%
  //+translateX(-50%)
  transform: translate(-50%, 0)
  background-image: url("image/ciyo_title2.png")
  background-repeat: no-repeat
  background-size: 100%
  h1
    display: none

.preview
  width: 34%
  padding-top: 38.9%
  position: absolute
  margin-top: 33.2%
  left: 8.4%
  background-image: url("image/preview2.png")
  background-repeat: no-repeat
  background-size: 100%

.qrcode
  width: 13%
  height: auto
  position: absolute
  margin-top: 37.3%
  left: 49%
  z-index: 10
  img
    width: 100%
    height: auto

.slogan
  width: 41.7%
  padding-top: 16.1%
  position: absolute
  margin-top: 58%
  left: 47%
  background-image: url("image/slogan2.png")
  background-repeat: no-repeat
  background-size: 100%
  p
    display: none

.download
  width: 46.9%
  padding-top: 23.6%
  position: absolute
  margin-top: 33.2%
  right: 8.4%
  background-image: url("image/download_bg.png")
  background-repeat: no-repeat
  background-size: 100%
  a span
    display: none
  .iphone-link
    width: 49%
    height: 28.8%
    position: absolute
    top: 14.8%
    right: 6.4%
    background-image: url("image/iphone_btn.png")
    background-repeat: no-repeat
    background-size: 100%
    &:hover
      background-image: url("image/iphone_btn_hl.png")
  .android-link
    width: 49%
    height: 28.8%
    position: absolute
    top: 54.2%
    right: 6.4%
    background-image: url("image/android_btn.png")
    background-repeat: no-repeat
    background-size: 100%
    &:hover
      background-image: url("image/android_btn_hl.png")

contact-item($iconPath, $iconWidth, $iconHeight)
  display: inline-block
  font-size: 22px
  line-height: $iconHeight
  vertical-align: middle
  margin-left: 50px
  &:before
    content: ''
    display: inline-block
    width: $iconWidth
    padding-top: $iconHeight
    line-height: $iconHeight
    vertical-align: middle
    margin-right: 10px
    background-image: url($iconPath)
    background-size: 100%
    background-repeat: no-repeat

.contact
  width: 100%
  position: absolute
  margin-top: 78%
  text-align: center
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px
  color: #fff
  h2
    display: none
    font-size: 23px
  ul
    display: inline-block
  li span
    display: none
  .-qq
    contact-item('image/qq.png', 37px, 39px)
  .-weibo
    contact-item('image/weibo.png', 48px, 39px)
  .-wechat
    contact-item('image/wechat.png', 46px, 39px)

.copyright
  width: 100%
  position: absolute
  margin-top: 88%
  font-size: 14px
  text-align: center
  color: #fff