/var/*
/upload/*
/client_logs/*

/web/bundles/
/web/assetic/*
/web/js/*
/web/css/*
/web/images/*
/web/img/*

/doc/*
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/admin/config/parameters.yml
/app/api/config/parameters.yml
/app/website/config/parameters.yml
!app/cache/.gitkeep
!app/logs/.gitkeep

/build/
/vendor/
/bin/
/composer.phar
/.idea
/composer.lock
.DS_Store

/node_modules
