<div id="template" class="hidden">
    <div class="file-upload">
        <img id="preview_image" src="">
        <span id="filename"></span><span id="upload">本地上传<input type="file" name="pictures[]" id="Uploadfile" onchange="localLoadImage(event)"></span>
    </div>
</div>