<div class="header">
    <div class="content">
        <div class="user-login">次元社VIP用户平台</div>
        <a class="logout-btn logout" href="javascript:;">退出</a>
    </div>
</div>
<div class="banner">
    <div class="logo">
        <img src="http://qn.ciyocon.com/app/icons/v2/logo.png?v2" alt="">
    </div>
</div>