{{ include('LycheeWebsiteBundle:Vip:fileTemplate.html.twig') }}
<form id="form" action="{{ path('lychee_website_vip_sendpost') }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="post_type" value="{{ constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_NORMAL') }}">
    <div class="row clearfix">
        <div class="col1">正文</div>
        <div class="col2">
            <textarea id="content" placeholder="2000字以内" name="content"></textarea>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col1">图片</div>
        <div class="col2">
            <div class="file-upload">
                <img id="preview_image" src="">
                <span id="filename"></span><span id="upload">本地上传<input type="file" name="pictures[]" onchange="localLoadImage(event)"></span>
            </div>
            <a class="add-file" onclick="addFile()">+</a>
            <a class="delete-file" onclick="deleteFile()">-</a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col1">次元</div>
        <div class="col2">
            {{ include('LycheeWebsiteBundle:Vip:topicSelector.html.twig', {'topics': topics}) }}
        </div>
    </div>
    <button class="form-submit">提交</button>
</form>

