{% spaceless %}
    <nav id="navigation">
        <ul>
            <li class="pull-right"><a href="#" class="logout">退出</a></li>
            <li><a href="{{ path('lychee_website_vip_logout') }}">次元社VIP用户平台</a></li>
        </ul>
    </nav>
{% endspaceless %}