{{ include('LycheeWebsiteBundle:Vip:fileTemplate.html.twig') }}
<form action="{{ path('lychee_website_vip_sendpost') }}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="post_type" value="{{ constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_SCHEDULE') }}">
  <div class="row clearfix">
    <div class="col1">次元</div>
    <div class="col2">
      <input type="text" name="topic" id="topic" placeholder="美图菌">
      <input type="hidden" name="topic_id" id="topic_id">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1"><label>图片</label></div>
    <div class="col2">
      <div class="file-upload">
        <img id="preview_image" src="">
        <span id="filename"></span><span id="upload">本地上传<input type="file" name="pictures[]" id="Uploadfile" onchange="localLoadImage(event)"></span>
      </div>
      <a class="add-file" onclick="addFile()">+</a>
      <a class="delete-file" onclick="deleteFile()">-</a>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">活动主题</div>
    <div class="col2">
      <input type="text" name="schedule_title" id="schedule_title" placeholder="60字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">活动描述</div>
    <div class="col2">
      <textarea id="content" name="content" placeholder="2000字以内"></textarea>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">活动地址</div>
    <div class="col2">
      <input type="text" name="schedule_address" id="schedule_address" placeholder="200字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">开始时间</div>
    <div class="col2">
      <input type="text" name="start_time" id="start_time" >
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">结束时间</div>
    <div class="col2">
      <input type="text" name="end_time" id="end_time" >
    </div>
  </div>
  <button class="form-submit">提交</button>
</form>
{{ include('LycheeWebsiteBundle:Vip:typeahead.html.twig') }}
<script>
  $(document).ready(function() {
    $('#start_time').datetimepicker();
    $('#end_time').datetimepicker();
  });
</script>

