<div class="select-topic">
    {% for topic in topics %}
        <div>
            <input type="radio" name="topic_id" value="{{ topic.id }}" >
            <div class="cell" style="background-color: #{{ topic.color|topicColorFilter }};">
                <span>{{ topic.title }}</span>
            </div>
        </div>
    {% endfor %}
</div>
<script>
    (function(){
        var toggle = true;
        if($('.select-topic').children().length >= 6) {
            $('.select-topic').after('<a class="toggle-btn" onclick="toggleBtn()">展开</a>');
        }
        function toggleBtn() {
            if (toggle) {
                $('.select-topic').css("max-height", "unset");
                $('.toggle-btn').text("收起");
            }
            else {
                $('.select-topic').css("max-height", "");
                $('.toggle-btn').text("展开");
            }
            toggle = !toggle;
        }
        window.toggleBtn = toggleBtn;
        $('#form').submit(function() {
            var formData = $(this).serializeArray();
            var formatData = {};
            formData.forEach(function(item) {
                formatData[item.name] = item.value;
            });
            var filename = '';
            $('.row #filename').each(function() {
                if ($(this).text() !== '') {
                    filename = $(this).text();
                    return;
                }
            });
            if ((formatData.content === '' || formatData.content === undefined) &&filename === '' ) {
                if($('#content').parent().children('.error').length === 0) {
                    $('#content').parent().append('<label class="error">*正文或图片不能同时为空</label>');
                }
                return false;
            }
            else {
                if($('#content').parent().children('.error').length !== 0) {
                    $('#content').parent().children('.error').remove();
                }
            }
            if (formatData.topic_id === '' || formatData.topic_id === undefined) {
                if ($('.select-topic').parent().children('.error').length === 0) {
                    $('.select-topic').parent().append('<label class="error">*次元不能为空</label>');
                }
                return false;
            }
            return true;
        });
    }());
</script>