{{ include('LycheeWebsiteBundle:Vip:fileTemplate.html.twig') }}
<form action="{{ path('lychee_website_vip_sendpost') }}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="post_type" value="{{ constant('Lychee\\Bundle\\CoreBundle\\Entity\\Post::TYPE_VOTING') }}">
  <div class="row clearfix">
    <div class="col1">次元</div>
    <div class="col2">
      <input type="text" name="topic" id="topic" placeholder="美图菌">
      <input type="hidden" name="topic_id" id="topic_id">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1"><label>图片</label></div>
    <div class="col2">
      <div class="file-upload">
        <img id="preview_image" src="">
        <span id="filename"></span><span id="upload">本地上传<input type="file" name="pictures[]" id="Uploadfile" onchange="localLoadImage(event)"></span>
      </div>
      <a class="add-file" onclick= "addFile()">+</a>
      <a class="delete-file" onclick="deleteFile()">-</a>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">投票题目</div>
    <div class="col2">
      <input type="text" name="voting_title" id="voting_title" placeholder="60字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">正文</div>
    <div class="col2">
      <textarea id="content" name="content" placeholder="2000字以内"></textarea>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-1</div>
    <div class="col2">
      <input type="text" name="op_1" id="op_1" class="option" placeholder="(必填)15字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-2</div>
    <div class="col2">
      <input type="text" name="op_2" id="op_2" class="option" placeholder="(必填)15字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-3</div>
    <div class="col2">
      <input type="text" name="op_3" id="op_3" class="option" placeholder="15字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-4</div>
    <div class="col2">
      <input type="text" name="op_4" id="op_4" class="option" placeholder="15字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-5</div>
    <div class="col2">
      <input type="text" name="op_5" id="op_5" class="option" placeholder="15字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-6</div>
    <div class="col2">
      <input type="text" name="op_6" id="op_6" class="option" placeholder="15字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-7</div>
    <div class="col2">
      <input type="text" name="op_7" id="op_7" class="option" placeholder="15字以内">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col1">选项-8</div>
    <div class="col2">
      <input type="text" name="op_8" id="op_8" class="option" placeholder="15字以内">
    </div>
  </div>
  <button class="form-submit">提交</button>
</form>
{{ include('LycheeWebsiteBundle:Vip:typeahead.html.twig') }}


