{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_ad_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_ad_index') }}">次元内广告</a>
    </li>
    <li class="{% if app.request.get('_route') matches '/_banner/' %}active{% endif %}">
        <a href="{{ path('lychee_admin_ad_banner') }}">首页广告</a>
    </li>
    <li class="{% if app.request.get('_route') matches '/game/' %}active{% endif %}">
        <a href="{{ path('lychee_admin_ad_publishedgamebanner') }}">游戏广告</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_ad_launcher' %}active{% endif %}">
        <a href="{{ path('lychee_admin_ad_launcher') }}">启动页</a>
    </li>
{% endblock %}