{% extends 'LycheeAdminBundle:Cultural:layout.html.twig' %}

{% block body %}
    <form action="{{ path('lychee_admin_cultural_uploademoticon') }}" method="post" enctype="multipart/form-data">
        <p class="text-danger">请选择上传的json文件</p>
        <div class="form-group">
            <input type="file" class="" name="file" id="file"/>
        </div>
        <button type="submit" class="btn btn-success">上传</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var $file = $("#file");
            $("button[type=submit]").click(function () {
                if (!$file.val()) {
                    alert("请选择要上传的文件！");
                    return false;
                }
            });
        });
    </script>
{% endblock %}