{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_cultural_emoticon' %}active{% endif %}">
        <a href="{{ path('lychee_admin_cultural_emoticon') }}">上传颜文字</a>
    </li>
    <li class="{% if app.request.get('_route') matches '/expression/' %}active{% endif %}">
        <a href="{{ path('lychee_admin_cultural_expressionpackage') }}">表情管理</a>
    </li>
{% endblock %}