parameters:

    #client logs save path
    client_logs_save_path: %kernel.root_dir%/../../client_logs
    live_api_secret_key: 'JVe5T73X9PZt'
    sms_signature_secret: 'KVF9p4WEbs3wna'
    inke_app_id: '1000200001'
    inke_app_key: '20ji2ym8YA9Mw8ywNK8mxNai2s2dDwGi1GK1LOTi2Kdi0e6zylq6RAi3'
    qingdian_app_id: '1000200002'
    qingdian_app_key: '1479c8c1fea483df927ffebf7716d53900a1c26b'
    request_signature_key: 'NGJiMzk4YjdiYzI5YmNiMDMwNjgyYzcz'