{% extends 'LycheeAdminBundle::layout.html.twig' %}

{% block html_body %}
    <div>
        <h1 style="text-align: center">上传成功！</h1>
        <p style="text-align: center"><span id="left" style="color: red;">5</span>&nbsp;秒后返回上一页。</p>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var $leftElem = $('#left');
            var left = $leftElem.text();
            setTimeout(function () {
                left -= 1;
                $leftElem.text(left);
                if (left > 0) {
                    setTimeout(arguments.callee, 1000);
                } else {
                    var parametersArr = document.URL.split("?")[1].split("&");
                    for (var i = 0; i < parametersArr.length; i++) {
                        var param = parametersArr[i].split("=");
                        if (param[0] === 'redirect') {
                            location.href = decodeURIComponent(param[1]);
                        }
                    }
                }
            }, 1000);
        });
    </script>
{% endblock %}