.gift_banner{
	width: 100%;
	height:500px;
	background: url(../../images/350/gift-banner.jpeg) no-repeat top center;
	margin:0 auto;
}

.gift_center_main{
	width: 1150px;
	margin: 62px auto 0;
	overflow: hidden;
}
.gc_main_left{
	width: 824px;
	margin-right: 16px;
}
.gc_main_right{
	width: 310px;
	border-radius: 6px;
}
.hot_gift{
	overflow: hidden;
}
.hot_gift li{
	overflow: hidden;
	border: 2px solid #fff;
	width: 256px;
	border-radius: 6px;
	height: 244px;
	transition: all ease-out 200ms;
	margin-right: 20px;
	background: #fff;
	position: relative;
	float: left;
}

.hot_gift li:nth-child(3){
	margin-right:0;
}
.hot_gift li img{

	width: 100%;
}
.hot_gift li a{
	width: 100%;
	height: 100%;
	display: block;
}
.hot_gift li:hover{
	border:2px solid #059ef5;
}
.conner_mark{
	position: absolute;
	top:0;
	left: 0;
	width: 58px;
}
.conner_mark img{
	width: 100%;
	display: block;
}
.game_name{
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
	color: #666;
	padding-bottom: 2px;
	float: left;
	padding-left: 8px;
}
.gift_name{
	font-size: 16px;
	text-align: center;
	color: #059ef5;
	padding-top: 7px;
	float: right;
	padding-right: 10px;
}
.gift_list{
	margin-top: 32px;
}
.gift_list li{
	border:2px solid #fff;
	width: 820px;
	height: 150px;
	margin-top: 18px;
	border-radius: 6px;
	background: #fff;
	transition: all ease-out 200ms
}
.gift_list li:hover{
	border:2px solid #059ef5;
}
.gift_icon{
	width: 120px;
	margin:16px 0 0 16px;
}
.gift_icon img{
	width: 100%
}
.gift_content{
	width: 530px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 20px;
}
.gift_list_name a{
	font-size: 18px;
	color:#059ef5;
}
.gift_detail{
	font-size: 14px;
	line-height: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #666;
}
.gift_time{
	font-size: 12px;
	color:#999;
	line-height: 24px;
	margin-top: 2px;
}
.gift_btn {
	width: 70px;
	height: 32px;
	border-radius: 5px;
	margin:60px 20px 0 0;
	background: #4bcf4b;
	transition: all ease-out 200ms;
}
.gift_btn a{
	display: block;
	width: 100%;
	height: 100%;
	font-size:14px;
	text-align:center;
	line-height: 32px;
	color:#fff;
}
.gift_btn:hover{
	background: #2fa72e
}
.page{
	height:40px;
	margin-top: 40px;
	overflow: hidden;
	float:right;
}
.page li{
	float: left;
	width: 34px;
	height: 34px;
	background: #e7ebee;
	border-radius: 4px;
	margin-left: 16px;
	cursor: pointer;
}
.page li:hover{
	background: #bdc3c7;
}
.page .cur_page:hover{
	background: #059ef5;
}
.page li:hover a{
	color: #fff;
}
.page .cur_page{
	background: #059ef5;
	
}
.page .cur_page a{
	color:#fff;
}
.page li a{
	display: block;
	font-size: 14px;
	width: 100%;
	height: 100%;
	line-height: 34px;
	transition: all .2s ease;
	color:#99aea7;
	text-align: center;
	border-radius: 4px;
}
.page .prev,.next{
	font-size:14px;
	line-height: 40px;
	color: #99aea7;
	text-align: center;
}
.page .next:hover{
	color:#fff;
}
.page .prev:hover{
	color:#fff;
}
.gc_main_right{
	background: #fff
}
.gc_main_right li{
	width: 100%;
	height:90px;
	border-bottom: 1px solid #f3f3f3;

}
.gc_main_right li:hover .down_btn a{
	border:1px solid #1a8fd1;
	color:#fff;
	background: #059ef5
}
.number{
	width: 20px;
    height: 20px;
    margin-top: 36px;
    margin-right: 16px;
    background: #c0c0c0;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    border-radius: 4px;
    text-align: center;
    margin-left: 14px;
}
.num1{
	background: #fd5253
}
.num2{
	background: #ff7b41
}
.num3{
	background: #ffad2b
}
.game_ico{
	width: 60px;
	margin-right: 14px;
	margin-top: 14px;
	height: 60px;

}
.game_ico img{
	width:100%; 
}
.gm_right_name{
	font-size: 16px;
}
.game_type{
	padding-top: 6px;
	color:#666;
}
.down_btn{
	float: right;
	margin-right: 6px;
}
.down_btn a{
	font-size: 12px;
	color:#666;
	display: block;
	transition: all ease-out 200ms;
	width: 60px;
	height: 28px;
	border:1px solid #999;
	line-height:29px;
	text-align: center;
	border-radius: 4px;
}
.big_title{
	margin-bottom: 16px;
    font-size: 22px;
    text-indent: 10px;
    border-left: 3px solid #ffb018;
    color: #333;
}
.gift_list_name{
	padding-bottom: 8px;
}
.gc_main_right{
	background: #fff
}
.gc_main_right li{
	display: flex;
	height: 52px;
	align-items: center;
	border-bottom: 1px dotted #dedede
}
.gc_main_right li:hover{
	cursor: pointer;
}
.gc_main_right li:last-child{
	border-bottom: none
}
.gc_main_right .active{
	height: 80px;
}
.gc_main_right li .number{
	flex: 0 0 6px;
	background: #999;
	font-size: 14px;
	color: #fff;
	padding: 1px 6px 1px 6px;
	border-radius: 3px;
	margin: 0 6px 0 14px;
}
.gc_main_right li:nth-child(1) .number{
	background: #fd5253
}
.gc_main_right li:nth-child(2) .number{
	background: #ff7b41
}
.gc_main_right li:nth-child(3) .number{
	background: #ffad2b
}
.gc_main_right li .game_ico{
	flex: 0 0 60px;
	display: none;
}
.gc_main_right .active .game_ico{
	flex: 0 0 60px;
	display: block;
	margin: 0 12px 0 12px
}
.gc_main_right li .game_ico img{
	width: 100%
}
.gc_main_right li .game_con{
	flex: 1;
	margin-left:6px;
}
.gc_main_right li .down_btn{
	display: none;
	flex: 1;
}
.gc_main_right .active .down_btn{
	display: block;
}
.gc_main_right .active .down_btn a:hover{
	background: #12b7f5;
	border: 1px solid #10a3da;
	color: #fff;
}
.gm_right_name{
	font-size: 16px
}
.game_type{
	font-size: 14px;
	color: #666;
}
.down_btn a {
    font-size: 12px;
    color: #666;
    display: block;
    transition: all ease-out 200ms;
    width: 60px;
    height: 28px;
    border: 1px solid #999;
    line-height: 29px;
    text-align: center;
    border-radius: 4px;
}