{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_usermanagement_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_usermanagement_index') }}">用户查询</a>
    </li>
    <li class="{% if app.request.get('_route') == 'lychee_admin_usermanagement_blacklist' %}active{% endif %}">
        <a href="{{ path('lychee_admin_usermanagement_blacklist') }}">黑名单</a>
    </li>
{% endblock %}

{% block body %}{% endblock %}