{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_graylist_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_graylist_index') }}">灰名单</a>
    </li>
{% endblock %}

{% block body %}
    <div class="post-manager">
        {% block bodyInner %}{% endblock %}
    </div>
{% endblock %}