<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>异次元通讯</title>
    <style>
        .main-contain{
            width: 100%;
        }
        .main{
            padding: 20px 20px 50px 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
        .main p{
            text-align: left;
            line-height: 28px;
        }
    </style>
</head>
<body>
<div class="main-contain">
    <div class="main">
        <p><b>Q:《异次元初章》和《异次元通讯》是什么关系？</b></p>
        <p>A:《异次元初章》为游戏的早期试发行版本，仅包含游戏剧情的第1章，此后也不会再更新。
            《异次元通讯》为游戏的正式完整版本，包含游戏所有完整内容（目前为第1、2、3章及两个番外篇），以后的章节和功能更新都在此版本上进行，敬请下载。因为应用市场的要求，《异次元通讯》的产品名可能会有章节序号后缀，例如：《异次元通讯3》。所以，不要问为什么没有《异次元通讯2》，因为《异次元通讯2》已经改名叫《异次元通讯3》，包含了第1、2、3章及两个番外篇。以后推出第4章的时候，很可能《异次元通讯3》就改名叫《异次元通讯4》了。
            不管怎样，请认准Miko就好啦~~</p>
        <p><b>Q：章节和番外篇是怎么回事？</b></p>
        <p>A：目前《异次元通讯3》是前3章三部曲“馆系列”的大结局，之后还将不断推出后续的冒险剧情。
            主线剧情将按照Miko的主世界设定而定期推出，按照123456的章节分段，剧情连贯。
            此外，还会有不定期的番外篇推出。番外篇的设定依然在Miko的主世界之中，时间线与主线章节衔接，内容与主线剧情不直接相关，但会有更多关于Miko的个人线索和彩蛋。
            玩番外篇可能会有更多知识和姿势解锁哦~~~</p>
        <p><b>Q：《异次元通讯》到底是一个什么故事？</b></p>
        <p>A：通过一个聊天软件，你和Miko无意相遇，在逃亡过程中她只能和你联系。你在与Miko的交流过程中逐步了解事件、协助解谜，熟悉Miko的性格，深入Miko的世界。</p>
        <p>在《异次元通讯1》和《异次元通讯2》中，你与Miko从陌生到熟悉，逐渐了解到事件真相和Miko的身世。天台惊险逃亡、解救Miko的父亲、经历神秘人的死亡、lo娘茶会的奇遇，除了完成任务，更重要的是逐渐了解Miko的性格、爱好、身世，Miko和你的说话方式也逐渐从陌生到熟稔，羁绊与日俱增。</p>
        <p>Miko有着鲜明个性和独立人格，态度不好但人却不坏，喜欢甜食，行动力超强偶尔也耍小聪明。最重要的是，她真实，她不像游戏女主角，就像是存在于你身边的女生。你需要像对待朋友一样，理解和尊重Miko的意愿，和她共同经历、共同成长。</p>
        <p>作为前两章节的续作，《异次元通讯3》故事将更加悬疑，主线剧情容量大增，同时还有新的游戏角色登场与玩家互动。从美术馆、图书馆到博物馆，《异次元通讯3》将是前三章三部曲“馆系列”的大结局，从Miko父亲绑架事件到神秘人死亡事件的所有幕后秘密将会揭晓，Miko的冒险在这里告一段落</p>
        <p>同时，《异次元通讯3》也是新三部曲的开端，你可能会从另一个维度了解Miko，开启新的冒险。</p>
        <p>正因为有了你的存在，才有了这段羁绊，正如Miko所说：“领我摆脱困境的，是你？还是根本只有我自己？”</p>
        <p><b>Q：为什么Miko下线后就不说话了，难道是我手机坏了？</b></p>
        <p>A：《异次元通讯》系列游戏的形式是虚拟实时通讯，Miko在通讯的那一头因为收到你的回复而进行下一步的行为（休息、探索、等待、思考、发呆等等），Miko下线后的等待时间会因为行为的不同而不同，最短的可能是去查看一下情况，只需要数分钟，最长的可能是Miko去睡觉了，要等待数小时。你只需要等待Miko再次上线就可以了。
            任何试图自行调整等待时间的行为，均不是官方建议，所产生的重置、死机、回档或Miko永久下线等bug由玩家个人承担，请大家三思而后行_(:з)∠)_</p>
        <p>另外，本游戏最重要的体验是实时性和生活感，希望玩家能像和真实朋友聊天一样理解和体会等待时间，等待Miko的正常上线</p>
        <p><b>Q：新增的帐号系统是什么？</b></p>
        <p>A：从v3.0开始，《异次元通讯》有了帐号系统，可以云端保存个人资料、支付、图鉴等游戏信息，玩家可以在任何设备上登录并同步游戏信息。
            建议老玩家在同一设备下升级至v3.0及以后版本（即《异次元通讯3》），完成登录帐号和”游戏信息关联”的操作，这样就可以保存游戏图鉴和投喂信息啦。</p>
        <p>未来我们将会基于帐号推出更多好玩的东西，请大家耐心等待。</p>
        <p><b>Q：异次元通讯1和2投喂过的记录会保存吗？</b></p>
        <p>A：同一设备升级至v3.0及以后版本（即《异次元通讯3》），依然会保留个人的投喂记录，但如果设备还原过出厂设置和刷机会导致游戏信息丢失。
            建议玩家第一时间登录/注册帐号，这样就可以保存保存游戏图鉴和投喂信息。</p>
        <p><b>Q：换了新手机，重新下载游戏，对话进度还会保存吗？</b></p>
        <p>A：对话进度只保留在手机本地，未更换手机的玩家可以恢复对话记录，已更换手机的用户将无法恢复对话记录。</p>
        <p>备注：对话进度本地保存仅对安卓用户有效。</p>
        <p><b>Q：礼品码是什么？</b></p>
        <p>A：为了回馈用户，《异次元通讯3》推出了礼品码功能。每一次对章节进行投喂，不仅可以解锁当前章节，还可获赠一个礼品码，可以送给朋友，让朋友也可以免费解锁章节。
            礼品码是一一对应的，每一个礼品码对应一个相应章节。例如：对第3章进行一次投喂，所得到的这个礼品码就是第3章的礼品码，只可用于第3章的解锁。例如：你已经解锁第3章，朋友又给了你一个第3章的礼品码，你用来兑换是无效的，但这个码可以给未解锁第3章的朋友，他可以用来解锁他的第3章。问清楚你拿到的礼品码是兑换哪个章节的吧。
            礼品码是一次性的，兑换成功后这个礼品码即失效。</p>
        <p><b>Q：我拿到一个礼品码，怎么兑换？</b></p>
        <p>A：首先要确定你拿到的礼品码是你未解锁章节的礼品码。然后，安卓客户端上的礼品码兑换入口有两处：1.“设置”-“礼品码”。2.“章节列表”-“章节礼品码”-“说明”-“兑换礼品码入口”。</p>
        <p><b>Q：我是iPhone用户，为什么没有礼品码？</b></p>
        <p>A：由于App Store的限定，iOS设备不允许设置礼品码功能，礼品码仅安卓客户端有效。如果你是iPhone，朋友给你的礼品码你也是用不了的。（去找乔布斯吧，他非要这么做...）</p>
        <p><b>Q：异次元通讯Project是什么？</b></p>
        <p>A：《异次元通讯》系列是国内第一的文字AVG游戏（Miko是国民第一美少女！），除了系列文字AVG游戏之外，《异次元通讯》还持续拓展其他形式、其他媒介的文化产品和游戏产品，包括动漫、音视频、其他游戏形式等等，有建议、创意以及合作可以联系我们。</p>
        <p>同时我们欢迎不同人才加入到我们团队，招聘的职位有：Android/iOS开发工程师、Web前端工程师、平面/插画设计。</p>
        <p>官方QQ：2454369924</p>
        <p>官方邮箱：rekallstudio@qq.com</p>
    </div>
</div>
</body>
</html>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>