{% extends 'LycheeAdminBundle:UGSV:layout.html.twig' %}
{% import 'LycheeAdminBundle::helper.html.twig' as helper %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="clearfix">
        <div class="col-lg-4 pull-left">
        </div><!-- /.col-lg-6 -->
    </div>
    <div id="container"></div>
    <div class="all-loaded"><p class="bg-info">全部载入完毕</p></div>
{% endblock %}