
<html>
<head>
<meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="screen-orientation" content="portaint">
<meta name="screen-orientation" content="landscape">
<title>每周精选次元</title>
<style type="text/css">
  body {
    padding: 0;
	margin: 0;
  }
  img {
    padding: 0;
	margin: 0;
	width: 100%;
	display: block;
  }
  #video1 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/05.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 330px;
  }

  #text1 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/06.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 200px;
  }

   #video2 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/07.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 330px;
  }

  #text2 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/08.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 200px;
  }

   #video3 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/09.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 330px;
  }

  #text3 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/10.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 200px;
  }

   #video4 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/11.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 330px;
  }

  #text4 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/12.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 200px;
  }

   #video5 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/13.png?ert) no-repeat;
	background-size: 100% 100%;
	height: 330px;
  }

  
  #text5 {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/14_20180818.png?ert);
	background-size: 100% 100%;
	height: 305px;
  }

  .videoframe {
    background: #D8D8D8;
    background-size: 100%;
	margin: 0 20% 0 20%;
    height: 300px;
  }
  .play {
    height: 300px;
	padding-top: 121px;
	text-align: center;
  }
  .play img {
    width: 57px;
	height: 57px;
	margin: 0 auto;
  }
  .textbox {
    margin: 0 9% 0 9%;
    height: 110px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
  }
  .button {
    height: 100px;
	text-align: center;
	display: none;
    margin-top:40px;
  }
  .buttonprep {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/prep.png?ert) no-repeat;
	background-size: 100% 46px;
	display: inline-block;
	height: 50px;
	width: 25%;
    vertical-align: middle;
  }
  .buttonnext {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/next.png?ert) no-repeat;
	background-size: 100% 46px;
	display: inline-block;
	height: 50px;
	width: 25%;
	vertical-align: middle;
  }
  .number {
    background: url(http://qn.ciyocon.com/h5/topciyobyweek/current.png?ert) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	width: 120px;
    font-size: 21px;
    color: #F54787;
    line-height: 52px;
	text-align: center;
	vertical-align: middle;
  }
</style>
</head>
<body>
  <img src="http://qn.ciyocon.com/h5/topciyobyweek/01_20180818.png?ert">
  <img src="http://qn.ciyocon.com/h5/topciyobyweek/04.png?ert">

</body>
</html>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var isCiyoCon = navigator.userAgent.indexOf('ciyocon') > -1;
        var url = "http://api.ciyo.cn/picked/video/list?_format=json&stage=0&cursor=0&count=20";
        var targetUrlErci = 'erciyuan://?action=view_status&pid={postId}&post_type=short_video';
        var targetUrl = isCiyoCon ? targetUrlErci : 'http://www.ciyocon.com/posts/{postId}/share';
        $.ajax({url:url ,type:'GET',dataType:'jsonp', success:function(data){
            // console.log(data);
            $(data.list).each(function (index,d){
                index ++;
                target = targetUrl.replace('{postId}',d.id);
                html = '  <div id="video'+index+'">\n' +
                    '    <div class="videoframe" style="background-image:url(\''+d.image_url+'\');" idvalue="'+d.id+'">' +
                    '\t  <a href="'+target+'">\n' +
                    '\t  <div class="play">\n' +
                    '\t    <img src="http://qn.ciyocon.com/h5/topciyobyweek/play.png?ert">\n' +
                    '\t  </div>\n' +
                    '\t    </a>' +
                    '\t</div>\n' +
                    '  </div>' +
                    '  <div id="text'+index+'">\n' +
                    '    <div class="textbox">\n' +
                    '        创作者：'+ d.author.nickname +'<br>\n' +
                    '\t\t上榜理由：<br>\n' +
                    '\t\t'+d.reason+'\n' +
                    '\t</div>\n' +
                    '  </div>';
                $('body').append(html);
            });
	    html = '<div class="button">\n' +
            '\t\t  <a class="buttonprep"></a>\n' +
            '\t\t  <span class="number">第x期</span>\n' +
            '\t\t  <a class="buttonnext"></a>\n' +
            '\t\t</div>\'';
            $('#text5').append(html);
        }});
    });
</script>
<span style="display:none"><script src="https://s22.cnzz.com/z_stat.php?id=1273871546&web_id=1273871546" language="JavaScript"></script></span>