{% extends 'LycheeAdminBundle:Extramessage:index.html.twig' %}
{% block title %}用户合并{% endblock %}
{% block table %}
    <div>
        <div class="clearfix">
            <div class="col-lg-4 pull-right">
                <form>
                    <div class="input-group">
                        <input type="text" name="query" class="form-control userId" placeholder="用户ID" value="{{ query|default('') }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary addUser" type="submit"> <img alt="image" class="img-circle" style="width: 14px;height: 14px" src="{{ asset('bundles/lycheeadmin/template271/images/push.png') }}" /></button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>选择主体</th>
                    <th>用户ID</th>
                    <th>用户名</th>
                    <th>投喂记录</th>
                    <th>图鉴</th>
                    <th>词典</th>
                </tr>
                </thead>
                <tbody id="topic_tbody">
                </tbody>
            </table>
            <div class="form-group"><label class="col-sm-2 control-label">选择登录方式</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input type="radio" value="wechat" name="login" class="login">微信
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" value="weibo" name="login" class="login"> 微博
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" value="QQ" name="login" class="login"> QQ
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" value="bili" name="login" class="login"> B站
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" value="dmzj" name="login" class="login"> 动漫之家
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default hebing" type="button">合并</button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('.addUser').click(function(){
            var id=$('.userId').val();
            getMessage(id);
            return false;
        })
        $('.hebing').click(function(){
            var user=new Array;
            $('.userListId').each(function () {
                user.push($(this).html());
            })
            if($('.mainId:checked').length==0){
                alert('请选择主体');
                return false;
            }
            if($('.login:checked').length==0){
                alert('请选择登录方式');
                return false;
            }
            var date={
                'userMain':$('.mainId:checked').val(),
                'users':user,
                'login':$('.login:checked').val()
            }
            $.post('{{ path('user_hebing_done') }}',date,function(data){
                console.log(data);
                if(data.result==true){
                    $('#topic_tbody').html('');
                    getMessage(date.userMain);
                }else {
                    alert(data.display_message);
                }
            })
        })

        function getMessage(id){
            var date={
                'query':id
            }
            $.post('{{ path('user_hebing_get') }}',date,function(data){
                var touWei='';
                if(data.touWei.length>0){
                    for (i=0;i<data.touWei.length;i++){
                        touWei+=data.touWei[i].productId+','
                    }
                }
                var tujian='';
                if(data.tuJian!=null){
                    tujian=data.tuJian.record;
                }
                var td='<tr class="userline" data-id="'+data.userId+'"><td><input name="user" type="radio" value="'+data.userId+'" name="main" class="mainId"/></td><td class="userListId">'+data.userId+'</td><td>'+data.userName+'</td><td>'+touWei+'</td><td>'+tujian+'</td><td>'+data.dictionary+'</td></tr>';
                $('#topic_tbody').append(td);
            })
        }
    </script>
{% endblock %}