

* {
  margin: 0;
  padding: 0;
}

html,
body {
  //异次元通讯第3版
  height: 100%;
  background:{
    image :url(../images/product_bg.png);
    repeat: no-repeat;
    size: cover;
  }
  //background-color: #5d3671;
  font-family: "PingFang SC", "STXihei", "Microsoft YaHei", "微软雅黑", "SimHei", "sans-serif";
}

html {
  position: relative;
  min-height: 922px;
}
.product-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
.unknownmessage {
  position: relative;
  width: 750px;
  padding-right: 680px;
  padding-top: 125px;
  margin: 0 auto;
  .-logo{
    position: relative;
    top:-74px;
  }
.-logo span{
    font-size: 35px;
    right: 14%;
    top: 16%;
  }
  .-logo p{
    font-size: 27px;
  }
  .-desc {
    line-height: 1.1;
    //overflow: hidden;
    color: #e0dbdb;
    //margin: 2% 0;
    font-size: 18px;
    //text-indent: 2em;
    p{
      margin-bottom: 14px;
      line-height: 24px;
    }
    .line1{
      font-size: 30px;
      top: -70px;
    }
    .line2{
      margin-bottom: 0;
      i{
        display: inline-block;
        width:20px;
        height: 20px;
        position: relative;
        top: 2px;
        margin-right: 8px;
        margin-right: 8px;
      }
    }
  }
  .-preview {
    position: absolute;
    top: 129px;
    color: #c0c0c0;
    right: 0;
    width: 330px;
    &::after {
      position: absolute;
      bottom: -10%;
      left: -17%;
      width: 225px;
      height: 350px;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
    }
    .line3 p:nth-child(1){
      margin-bottom: 22px;
    }
  }
  .-download {
    position: relative;
    //overflow: hidden;
    display: flex;
    margin: 14.5% 14% 0 0;
    a {
      //position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 28px;
      line-height: 46px;
      border-radius: 23px;
      color: #000;
      padding: 2px;
      background-color: #fff;
    }
    .iphone {
      left: 0;
      top: 7%;
      margin-bottom: 67px;
    }
    .android {
      left: 0;
      bottom: 7%;
    }
    .qrcode {
      float: right;
      width: 25%;
      padding: 4px;
      background-color: #fff;
      border-radius: 7px;
      margin-left: 120px;
      position: relative;
      top:0px;
    }
    .-downloada{
      a{
        padding: 0px 20px;
      }
    }
  }
}
.web-copy-right,.record-number {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 18px;
  color: #505050;
  text-align: center;
}
.web-copy-right {
  padding-top: 36px;
}

.record-number {
  margin-top: 5px;
}

@media screen and (max-width: 1700px) {
  .unknownmessage {
    padding-top: 115px;
    .-logo{
      top:-70px;
    }
    .-logo span{
      font-size: 36px;
      top: 16%;
      right: 16%;
    }
  }

}
@media screen and (max-width: 1500px) {
  .unknownmessage {
    width: 400px;
    padding-right: 510px;
    .-logo{
      top:-34px;
    }
    .-desc {
      font-size: 18px;
      p{
        font-size: 16px;
      }
    }
    .-download{
      margin: 13.5% -13% 0 0;
    }
 .-logo {
     span{
       font-size: 23px;
       right: 10%;
       top: 10%;
     }
   p{
     font-size: 21px;
   }
    }
    .-preview {
      top: 129px;
      width: 316px;
      &::after {
        width: 168px;
        height: 262px;
      }
    }
    .-download {
      a {
        border-radius: 17px;
        font-size: 21px;
        line-height: 34px;
      }
      .qrcode{
        top:-3px;
        width: 28%;
      }
    }
  }
  .web-copy-right,.record-number {
    font-size: 14px;
    line-height: 14px;
  }
  .product-footer{
    padding-bottom: 220px;
  }
}

@media screen and (max-width: 800px) {
  html,body {
    min-width: 320px;
    height: auto;
    background-image: url('../images/product-mobile-bg.png');
  }
  html {
    min-height: unset;
  }
  body {
    padding: 50px 0;
  }
  .unknownmessage {
    max-width: 450px;
    width: auto;
    padding-right: 0;
    padding-top: 0;
    .-logo{
      top:-24px;
    }
    .-logo{
      span{
        font-size: 24px;
        right: 10%;
        top: 18%;
      }
      p{
        font-size: 27px
      }
    }
    .-desc,.line3,.line1{
      display: none;
    }
    .-preview {
      position: relative;
      top: 0;
      width: auto;
      margin-top: 7%;
      padding: 0 5%;
      &::after {
        left: auto;
        right: -16%;
        bottom: 0;
        width: 140px;
        height: 210px;
      }
    }
    .-download {
      overflow: auto;
      margin: 7% 0;
      .-downloada{
        width: 100%;
        a{
          width:138px;
        }
        .android{
          float: right;
        }
      }
      a {
        position: static;
        //width: 54%;
        line-height: 30px;
        font-size: 20px;
        margin: 0 auto;
        border-radius: 30px;
        float: left;
      }
      .android {
        //margin-top: 10px;
        //float: right;
      }
      .qrcode {
        display: none;
      }
    }
  }
  .product-footer {
    position: relative;
    margin-top: 5%;
  }
  .product-footer .record-number,
  .product-footer .web-copy-right {
    color: #fff;
  }
}

@media screen and (max-width: 420px) {
  body {
    padding: 25px 0;
  }
  .unknownmessage {
    padding: 0 14%;
    .-preview {
      &::after {
        right: -12%;
        width: 95px;
        height: 150px;
      }
    }
    .-logo span{
      font-size: 15px;
      right: 13%;
      top: 16%;
    }
    .-downloada{
      a{
        width: 72px !important;
        font-size: 12px;
      }
    }
  }

  .product-footer .record-number,
  .product-footer .web-copy-right {
    font-size: 7px;
    line-height: 1;
  }
}
























