@charset "UTF-8"
@import "nib"
@import "icons"

global-reset()

html body
  background-color: #f1f2f6
  font-family: helvetica

.main
  background-color: #fff
  width: 300px
  height: 410px
  margin: 50px auto
  border-radius: 6px
  box-shadow: (1.5/2)px (2.58/2)px (2/2)px 0px rgba(0, 0, 0, 0.14)
  overflow: hidden
  text-align: center

.private
  color: #fff
  font-size: 12px
  background-color: #A3E1FA
  padding: 2px 8px
  border-radius: 8px
  margin-top: 12px
  display: inline-block

.image
  width: 100px
  height: 100px
  margin: 22px auto 0
  border-radius: 5px
  overflow: hidden
  background-color: #45c3f5
  img
    width: 100%
    height: 100%

.name
  margin: 12px auto 0
  color: #3d3d3d
  font-size: 18px
  text-align: center
  overflow: ellipsis
  max-width: 240px
  line-height: 1.2

.id
  margin: 8px auto 0
  color: #969696
  font-size: 12px
  text-align: center

.info
  margin: 12px auto 0
  color: #969696
  font-size: 12px
  text-align: center
  line-height: 1.2
  .follower-count
    display: inline-block
    overflow: ellipsis
    vertical-align: top
    max-width: 50px
  .manager
    display: inline-block
    overflow: ellipsis
    vertical-align: top
    max-width: 120px

.user-list
  margin: 7px auto 0
  width: 240px
  height: 33px
  overflow: hidden
  clearfix()
  .user
    display: block
    float: left
    width: 29px
    height: 29px
    margin: 1px 0px 1px 3px
    overflow: hidden
    border-radius: 100%
    border: 1px solid #fff
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1)
    img
      width: 100%
      height: 100%

.desc
  margin: 15px auto 0
  width: 240px
  height: 54px
  color: #969696
  font-size: 12px
  line-height: 1.5
  overflow: hidden

.join
  appearance: none
  margin: 10px auto 0
  display: block
  width: 230px
  height: 40px
  border: none
  border-radius: 5px
  background-color: #45c3f5
  color: #fff
  font-size: 18px
  user-select: none

.mask
  fixed: top left
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.8)

.join-panel
  position: relative
  margin: 60px auto 0
  padding: 20px
  width: 290px
  background-color: #fff
  color: #6f6f6f
  font-size: 15px
  line-height: 1.3
  overflow: hidden
  .close-panel
    display: block
    absolute: top 18px right 12px
    width: 20px
    height: 20px
    text-decoration: none
    color: #6f6f6f
    user-select: none
    &:before
      display: block
      text-align: center
      icon("\e601")
  .step1, .step2
    text-align: center
    margin-top: 10px
  .step2 i
    &.qq:before
      icon("\e602")
    &.wechat:before
      icon("\e603")
  a.download
    &:before
      icon("\e600")
    display: block
    margin: 20px auto 30px
    width: 180px
    height: 40px
    border: none
    border-radius: 5px
    background-color: #45c3f5
    color: #fff
    font-size: 15px
    text-align: center
    line-height: 40px
    user-select: none
    text-decoration: none
  .phrase
    margin: 20px auto 0
    text-align: center
    font-size: 14px
    font-weight: bold
    line-height: 1.5
    resize: none
    appearance: none
    border: none
    width: 100%
