{% extends 'LycheeAdminBundle::left_nav_layout.html.twig' %}

{% block left_nav %}
    <li class="{% if app.request.get('_route') == 'lychee_admin_weiborobot_index' %}active{% endif %}">
        <a href="{{ path('lychee_admin_weiborobot_index') }}">账号设置</a>
    </li>
    {#<li class="{% if app.request.get('_route') == 'lychee_admin_weiborobot_status' %}active{% endif %}">#}
        {#<a href="#">账号状态</a>#}
    {#</li>#}
    <li class="{% if app.request.get('_route') == 'lychee_admin_weiborobot_conversation' %}active{% endif %}">
        <a href="{{ path('lychee_admin_weiborobot_conversation') }}">会话管理</a>
    </li>
{% endblock %}