{% extends 'LycheeAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    <style>
        .thumbnail p { margin: 10px 0; }
        a.thumbnail:focus, a.thumbnail:hover { text-decoration: none; }
    </style>
{% endblock %}

{% block html_body %}
    <div class="row-fluid clearfix">
        {% for module in modules %}
            <div class="col-xs-6 col-md-2">
                <a href="{{ module[0] }}" class="thumbnail">
                    <p class="text-center">{{ module[1] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}