{% extends 'LycheeAdminBundle:Analysis:layout.html.twig' %}

{% block body %}
    <div id="container" style="margin: 0 auto"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $("#container").highcharts({
                chart: {
                    type: 'bar',
                    height: 2000
                },
                title: {
                    text: '搜索关键字排行'
                },
                xAxis: {
                    categories: {{ keywords|raw }},
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '搜索 (次)',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' 次'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: '搜索关键字',
                    data: {{ count|raw }}
                }]
            });
        });
    </script>
{% endblock %}