@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html, body {
  margin: 0 auto; }

html {
  background-color: #626262; }

body {
  background: url("image/bg.png") repeat;
  width: 320pt;
  padding-top: 16pt;
  font-family: "Helvetica Neue", STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", Tahoma, Arial, SimSun, "宋体", sans-serif; }

.banner {
  width: 303pt;
  height: 104.5pt;
  margin: 0 auto;
  background: url("image/banner.png") no-repeat;
  background-size: 100%; }

.about {
  position: relative;
  width: 294pt;
  height: 256.5pt;
  margin: 12pt auto 0 auto;
  background: url("image/about.png") no-repeat;
  background-size: 100%; }
  .about a {
    display: block;
    position: absolute;
    top: 208pt;
    left: 170pt;
    width: 88pt;
    height: 15pt; }

.members {
  width: 302pt;
  height: 770.5pt;
  margin: 20pt auto 22pt auto;
  background: url("image/members.png") no-repeat;
  background-size: 100%; }

.photos {
  min-height: 56pt;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: solid 1px rgba(0, 0, 0, 0.08);
  border-bottom: solid 1px rgba(0, 0, 0, 0.08); }
  .photos:before {
    content: "";
    display: block;
    width: 286pt;
    height: 36pt;
    margin: 10pt auto;
    background: url("image/title.png") no-repeat;
    background-size: 100%; }
  .photos ul {
    padding: 0pt 0 0pt 7pt;
    overflow-x: hidden;
    background-color: #fff; }
  .photos li {
    list-style: none;
    display: block;
    width: 97pt;
    height: 97pt;
    float: left;
    margin: 4pt 7pt 4pt 0pt; }
    .photos li a {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 2pt; }
    .photos li img {
      width: 100%; }
  .photos > a {
    display: block;
    width: 215pt;
    height: 28pt;
    margin: 10pt auto 10pt auto;
    border-radius: 2pt;
    font-size: 12pt;
    line-height: 28pt;
    text-align: center;
    vertical-align: middle;
    color: #f88f94;
    text-decoration: none;
    background-color: #f7ccce; }

.notice {
  width: 100%;
  height: 105pt;
  background: url("image/notice.png") no-repeat;
  background-size: 307.5pt 89pt;
  background-color: #ffddde;
  background-position: 50% 50%; }
