@import 'nib'

global-reset()

html
  background-color: #f1f1f1
  min-width: 640px
body
  color: #434343
  font-family: Helvetica
  position: relative

section()
  background-color: #fff
  border-bottom: 1px solid #dedede
  &:not(:first-child) {
	  margin-top: 30px
	  border-top: 1px solid #dedede
  }

.profile
  position: relative
  section()
  padding: 20px

.profile .user
  .avatar
    width: 110px
    height: 110px
    border-radius: 55px
    border: 2px solid #ebebeb
    vertical-align: middle
  .nickname
    font-size: 32px
    vertical-align: middle
    margin: 0 10px 0 10px
    max-width: 350px
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
  .level
    display: inline-block
    padding: 0 12px 0 12px
    height: 32px
    line-height: 32px
    border-radius: 16px
    vertical-align: middle
    text-align: center
    background-color: #278ce9
    color: #fff
    font-family: sans-serif
    font-weight: bold

.profile .experience
  height: 120px
  margin: 20px 0 0 0
  font-size: 26px
  position: relative
  indicator(dir)
    content: ''
    display: block
    width: 14px
    height: 11px
    background-image: url('../image/arrow_' + dir + '.png')
    background-size: 100% 100%
    background-repeat: no-repeat
    position: absolute
  .progress-bar
    height: 20px
    border-radius: 10px
    background-color: #e6e6e6
    position: relative
    top: 50px
    padding: 0 10px
    &::before
      content: ''
      display: inline-block
      width: 20px
      height: 20px
      background-color: #13df83
      border-radius: 10px
      position: absolute
      left: 0
    .progress-bar-value
      height: 100%
      width: 0
      background-color: #13df83
      position: relative
      transition-timing-function(ease-out)
      transition-property(width)
      transition-duration(1s)
      &::before
        indicator(down)
        top: -19px
        right: 0
        transform: translate(7px, 0)
      &::after
        content: ''
        display: inline-block
        width: 20px
        height: 20px
        background-color: #13df83
        border-radius: 10px
        position: absolute
        left: 100%
        transform: translate(-10px, 0)

  .current-level
    position: absolute
    top: 96px
    i
      color: #24c7fc
      font-style: normal
    &::before
      indicator(up)
      top: -19px
      left: 3px
  .next-level
    absolute: top 96px right 0
    i
      color: #fa6c58
      font-style: normal
    &::after
      indicator(up)
      top: -19px
      right: 3px
  .need
    absolute: top 0 left 0
    display: block
    white-space: nowrap
    opacity: 0
    transition-property(opacity)
    transition-duration(0.3s)
    transition-timing-function(ease-out)
    i
      color: #13df83
      font-style: normal

h2(indicator)
  h2
    display: inline-block
    height: 50px
    box-sizing: border-box
    padding: 11px 20px 0 50px
    font-size: 30px
    color: #fff
    background-color: #24c7fc
    position: relative
    &::before
      content: indicator
      display: inline-block
      border-radius: 100%
      width: 36px
      height: 36px
      text-align: center
      line-height: 36px
      vertical-align: middle
      background-color: #fff
      color: #24c7fc
      absolute: top 7px left 7px
    &::after
      content: ''
      display: block
      width: 10px
      height: 50px
      background-image: embedurl('arrow.svg')
      background-size: 100%
      background-repeat: no-repeat
      absolute: top 0 right 0px

table
	font-size: 24px
	line-height: 30px
	border-collapse: collapse
	th, td
		text-align: center
	thead th
		color: #fff
		background-color: #24c7fc
		&:first-child
			border-left: solid 1px #24c7fc
		&:not(:first-child)
			border-left: solid 1px #fff
		&:last-child
			border-right: solid 1px #24c7fc
	tbody
		th
			color: #24c7fc
		td
			color: #a2a2a2
		th, td
			border: solid 1px #24c7fc

.about
  section()
  padding: 20px 0 6px 0
  h2('A')
  ul
    list-style: url(../image/text_bubble.png) outside
    padding: 0 0 0 44px
    font-size: 28px
    line-height: 36px
    li
      padding: 20px 36px 20px 0
      &:not(:last-child)
        border-bottom: 1px solid #e7e7e7

.how-to
  section()
  padding: 20px 0 50px 0
  h2('B')
  div
    padding: 20px 36px 0 44px
  p
    display: list-item
    list-style: url(../image/text_bubble.png) outside
    font-size: 28px
    line-height: 36px
  h3
    margin: 30px 0 22px 34px
    font-size: 30px
    color: #24c7fc
    position: relative
    &::before
      content: ''
      display: inline-block
      width: 23px
      height: 27px
      background-image: url(../image/bookmark_2.png)
      background-repeat: no-repeat
      absolute: top 0 left -31px

.mission
  position: relative
  height: 144px
  border: solid 1px #d9d9d9
  margin-right: 10px
  padding: 0 180px 0 148px
  &:not(:first-child)
    margin-top: 20px
  img
    width: 112px
    height: 112px
    position: absolute
    top: 16px
    left: 18px
  &:nth-child(2) img
    width: 111px
    height: 101px
    top: 21px
    left: 20px
  &:nth-child(5) img
    width: 118px
    height: 118px
    top: 13px
    left: 15px
  h4
    margin-top: 24px
    font-size: 30px
    line-height: 36px
    color: #00e4ff
  span
    margin-top: 64px
    font-size: 24px
    line-height: 30px
    color: #434343
    b
      color: #24c7fc
    i
      color: #fa6c58
      font-style: normal
  a
    display: inline-block
    position: absolute
    right: 22px
    top: 48px
    height: 50px
    background-color: #13df83
    border-radius: 6px
    padding: 0 12px 0 12px
    font-size: 24px
    line-height: 50px
    vertical-align: middle
    color: #fff
    text-decoration: none
    user-select(none)
  &.finished
    a
      display: none
    &::after
      content: ''
      display: block
      width: 122px
      height: 122px
      background-image: url(../image/task_finished.png)
      background-repeat: no-repeat
      background-size: 100% 100%
      absolute: top 10px right 22px
	table.daily-mission
	  th, td
	    width: 180px
	    height: 70px

.privilege
  section()
  padding: 20px 0 50px 0
  h2('C')
  div
    padding: 20px 36px 0 44px
  p
    display: list-item
    list-style: url(../image/text_bubble.png) outside
    font-size: 28px
    line-height: 36px
    margin-bottom: 30px

  table.privilege-table
    th, td
      width: 180px
      height: 70px


//.level-cloud-gray, .level-moon-golden, .level-moon-gray, .level-moon-silver, .level-star-gray,
//.level-star-silver, .level-sun-golden, .level-sun-gray, .level-sun-purple, .level-sun-silver
//	display: inline-block
//	background: url(../image/icons.png) no-repeat
//	overflow: hidden
//	text-indent: -9999px
//	text-align: left

.level-icons
	section()
	padding: 20px 0 50px 0
	h2('D')
	div
		padding: 20px 36px 0 44px
	p
		display: list-item
		list-style: url(../image/text_bubble.png) outside
		font-size: 28px
		line-height: 36px
		margin-bottom: 30px
	table.icons-table
		th, td
			width: 180px
			height: 70px
	.icon::before
		display: inline-block
		overflow: hidden
		background-image: url(../image/icons.png)
		background-repeat: no-repeat
		width: 132px
		height: 66px
		margin: 2px 0
		color: #fff
		vertical-align: middle
		box-sizing: border-box
		text-indent: 40px
		padding-top: 22px

icon($x, $y, $c)
	&::before
		content: $c
		background-position: $x $y
.level-cloud-gray
	icon(0px, 0px, '1')
.level-star-gray
	icon(-132px, -66px, '3')
.level-star-silver
	icon(-264px, -66px, '6')
.level-moon-golden
	icon(-132px, 0px, '17')
.level-moon-gray
	icon(-264px, 0px, '9')
.level-moon-silver
	icon(0px, -66px, '13')
.level-sun-golden
	icon(0px, -132px, '31')
.level-sun-gray
	icon(-132px, -132px, '21')
.level-sun-purple
	icon(-264px, -132px, '36')
.level-sun-silver
	icon(0px, -196px, '26')

.take-experience-mask
  absolute: top 0 left 0
  width: 100%
  height: 100%
  z-index: 10
  background-color: rgba(0, 0, 0, 0.5)

.take-experience
  absolute: top 200px left 59px
  width: 522px
  height: 390px
  border-radius: 20px
  background-color: #fff
  .experience
    width: 457px
    height: 93px
    margin: 30px auto 0 auto
    box-sizing: border-box
    padding-top: 20px
    font-size: 34px
    text-align: center
    color: #fff
    background-image: url(../image/ribbon.png)
    background-size: 100%
    background-repeat: no-repeat
    i
      color: #fff67f
  .intro
    margin: 24px 46px 0 46px
    font-size: 27px
    line-height: 38px
    vertical-align: middle
    color: #24c7fc
    img
      vertical-align: top
  a
    display: block
    width: 420px
    height: 76px
    margin: 24px auto 0 auto
    background-color: #24c7fc
    border-radius: 6px
    font-size: 32px
    padding-top: 22px
    box-sizing: border-box
    text-align: center
    color: #fff
    text-decoration: none