<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登录吧，骚年</title>
    {% stylesheets 'bundles/lycheeadmin/bootstrap/css/bootstrap.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>登录吧，骚年</h1>
                <form role="form" action="{{ path('lychee_admin_signin_check') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">觉悟吧！</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>