{% extends 'LycheeAdminBundle:Analysis:layout.html.twig' %}

{% block body %}
    <div>
        <p>分享网站统计</p>
        <div class="chart-container" id="domain_count"></div>
        <div class="chart-container" id="daily_count"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#domain_count").highcharts({
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '网站分享统计'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -60,
                        style: {
                            fontSize: '12px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '分享次数（次）'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '分享次数：<b>{point.y:.1f}</b>'
                },
                series: [{
                    name: 'Input Domain',
                    data: {{ data|raw }},
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        x: 4,
                        y: 10,
                        style: {
                            fontSize: '12px',
                            fontFamily: 'Verdana, sans-serif',
                            textShadow: '0 0 3px black'
                        }
                    }
                }]
            });

            $("#daily_count").highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: '每日网站分享统计'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -60,
                        style: {
                            fontSize: '12px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '分享次数（次）'
                    }
                },
                tooltip: {
                    pointFormat: '分享次数：<b>{point.y}</b>'
                },
                plotOptions: {
                    area: {
                        marker: {
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '分享次数',
                    data: {{ dailyData|raw }}
                }]
            });
        });
    </script>
{% endblock %}